[2022-06-04 15:08] raed667 opened #3 "EXP | Keep service worker alive"
### What is the example you wish to see?

I would like to see a simple import / function call that abstracts away the hacky aspects of keeping the background service worker alive.

There are hacky solutions that would be nice to be abstracted away by a package:

https://stackoverflow.com/questions/66618136/persistent-service-worker-in-chrome-extension

### Is there any context that might help us u

[2022-06-04 18:16] Venipa opened #4 "BUG | error on "pnpm dev" command"
### What happened?

🟣 Plasmo v0.37.1
🟠 The browser extension development framework.
🔵 INFO   | Starting the extension development server...
🔴 ERROR  | i.replaceAll is not a function
          | TypeError: i.replaceAll is not a function

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

[2022-06-04 18:29] Venipa commented on #4
the fixed i pushed will also support node js <15,
replaceAll appeared at first in node 15.0.0 https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replaceAll

[2022-06-04 18:43] Venipa commented on #4
ah my bad, requirements are different...

[2022-06-04 18:43] #4 closed

[2022-06-04 19:24] louisgv commented on #4
@Venipa Thanks so much for the PR :D I just woke up and just got a chance to take a look. Really appreciate your effort regardless!

[2022-06-04 19:30] louisgv commented on #3
I was thinking about how this can be done cleanly. One thought so far is a module that developer import into their background SW, which facilitate all the hacky solution and official solution (like using fcm/gcm).

[2022-06-05 15:16] ColdSauce commented on #4
We'll likely add a warning message whenever someone uses an older version of Node.js to avoid any confusion in the future. Thanks for the report

[2022-06-06 02:12] jackmac92 opened #6 "BUG | replaceAll issue"
### What happened?

error building a fresh setup
[code]
getting this with no changes to the template after generating (and also on a template with a "content.ts" script)

### Version

Latest

### What OS are you seeing the problem on?

Linux

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### C

[2022-06-06 04:53] louisgv commented on #6
@jackmac92 which NodeJS version are you using? The requirement to use Plasmo is `node16` and we have seen report of this issue before #4

We will make a check for the nodejs version

[2022-06-06 05:00] louisgv opened #7 "[RFC] Overriding the html template"
### How do you envision this feature/change to look/work like?

Users would like to override the `index.html` template wrapper used to contain the popup/options/etc scaffolds.

There are two potential way to implement this feature:

1. We have a `popup/index.tsx` AND a `popup/_document.tx` file that implements the override of the index.html
2. We exposes special component tags that get transformed

[2022-06-06 05:10] nahtnam commented on #7
Additional uses cases include:

1. Preloading fonts so there is no FOUT
2. Customizing the new tab page title

[2022-06-06 15:21] #6 closed

[2022-06-07 11:41] peterbe opened #8 "BUG | Unable to start with npm"
### What happened?

Complete output here:

[code]

Also probably relevant:

[code]

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked

[2022-06-07 11:53] peterbe commented on #8
Switching to `pnpm dlx plasmo init` worked.

[2022-06-07 12:27] Rodrigue21 commented on #3
Hello did you need someone to assist you

[2022-06-07 14:50] ColdSauce commented on #8
Thanks for the bug report, @peterbe.

`npm x plasmo init` works both in our CI environment and locally on my laptop, so I suspect there is some weird cache issue happening here.

It seems to be [an issue with the](https://stackoverflow.com/questions/64211386/gitbook-cli-install-error-typeerror-cb-apply-is-not-a-function-inside-graceful) `graceful-fs` package that was fixed a while ago. We use this

[2022-06-08 01:34] louisgv opened #9 "[RFC] Style injection for Content Script UI"
### How do you envision this feature/change to look/work like?

This RFC is meant to discuss how styles are injected into the content script. By default, the framework supports inline style:

[code]

We want to extend the framework's capability with content-script by providing either simple to use API, a getter function, or a way for developers to easily mount their custom styling solution into th

[2022-06-08 02:41] kuthia opened #10 "RFC | Optionally shadowing DOM in Content Script UI"
### How do you envision this feature/change to look/work like?

Shadowing DOM is good for isolating app components. but still there needs to be inject directly in some use cases.

### What is the purpose of this change/feature? Why?

Provide options for users who want their plugins work seamlessly with pre-exsiting site or something.

### (OPTIONAL) Example implementations

provide options for con

[2022-06-08 03:55] louisgv commented on #10
Thank you for the example implementation :D

I thought about using the config itself to tweak the mounting component. 2 issues I had in mind:
1. We would need to clean them up (so that when we construct the final manifest, we don't include those non-manifest properties).
2. The casing - I prefer `camelCase` instead of `snake_case` for TypeScript in general.

I think it might be better to separate

[2022-06-08 04:01] louisgv commented on #10
Tho I wonder, does the name `getMountPoint` too confusing? Should we rename it to `getAnchorPoint`? Then we would have `getAnchorPoint` vs `getMountPoint`:

`anchor`: to attach the ui on top of certain element
`mount`: the mount point for the UI element

[2022-06-08 04:01] louisgv commented on #10
Also this is related to the B style of #9

[2022-06-08 04:13] louisgv commented on #10
After looking through react naming scheme and also HTML, I think it should be `getMountPoint` vs `getMountContainer` - the mountPoint abstraction should make sense for user in that they are looking to "mount" their component into the page (with the shadowDOM stuff hidden from them)

[2022-06-08 06:05] Aidurber commented on #10
Just to add an example of needing this. I'm trying to port a small extension of mine to Plasmo. I piggy back on the styles of the target web page but with the current implementation I will need to re-style everything by hand.

![plasmo](https://user-images.githubusercontent.com/5732291/172543407-20765867-f352-487a-8ef4-d755a673ae4a.jpg)

[2022-06-08 07:28] louisgv commented on #10
@Aidurber Can you test it out in canary (using `pnpm dlx plasmo@canary dev`). I just published #10 there, which enable you to export a `getRootContainer`. By returning an element, you can supply your own container (be it shadow DOM or an element you queried on the page)

[2022-06-08 07:58] Aidurber commented on #10
@louisgv With that command after making the change I'm getting an unexpected identifier error, for this line of the output:
[code]
Which looks like valid JS to me 🤷

I've got a repo if you want to play around with it?
Repo: https://github.com/Aidurber/rpgbot-buddy-plasmo
Test mounting here: https://rpgbot.net/dnd5/characters/classes/cleric/subclasses/

[2022-06-08 09:02] louisgv commented on #10
Oopsie - I awaited inside a non-async function xD.... Fix coming up in a sec

[2022-06-08 09:31] Aidurber commented on #10
@louisgv That seems to work perfectly! I do have a question though, does `getRootContainer` support both sync and async methods? If not, I think it should. If it does then perfect👌

Thanks for implementing that so quickly 🔥

[2022-06-08 13:10] ColdSauce commented on #8
I'm going to close this issue for now, but please let me know if you think my assessment of the situation is incorrect, or if you have an up-to-date version of the `graceful-fs` package.

We'll think more about how to detect these npm cache issues on our side, but they might be outside Plasmo's scope.

[2022-06-08 13:10] #8 closed

[2022-06-08 13:36] ColdSauce commented on #3
We will definitely explore generic ways to lengthen a service worker's life, but I'm worried they will never be good enough and will likely be hacky/buggy, full of edge cases to consider. We'll probably have this functionality for people where MV3 completely breaks their extension, and nothing can be done to mitigate it.

One of the things I've been thinking about is to capture the most common use

[2022-06-08 17:05] louisgv commented on #10
It supports both async and sync :)

[2022-06-08 17:08] #10 closed

[2022-06-08 17:15] louisgv commented on #9
#11 implemented the B option above. I think we can start with this and make examples for each framework.

[2022-06-08 20:03] nahtnam commented on #3
I would like to add that having a service worker active greatly increases the speed that the new tab page loads

[2022-06-09 01:57] thomas-void0 opened #12 "EXP | How do I get to set more env variables"
### What is the example you wish to see?

hello,  I want set more env variables. such as:
![image](https://user-images.githubusercontent.com/48620706/172746771-3603b413-214d-4a99-8361-8289bafadc0d.png)

In the documentation, I only see the configuration for `.local` and `.produtcion`
![image](https://user-images.githubusercontent.com/48620706/172747541-7ea53984-9fa8-443f-a6be-60084541e084.png)

wh

[2022-06-09 07:11] louisgv commented on #12
Thanks for the request! - This is indeed not well documented for the case you mentioned (since they're advanced and more for folks who have used those in CRA/CRACO).

For those env, you will need to declare your NODE_ENV. You can use `cross-env` to help adding those environment variable into your dev/build/test scripts:

[code]

[2022-06-09 09:30] thomas-void0 commented on #12
thx ，That's one way to do it. I just can't do it with the `.env` file

I just want to get more NODE_ENV environment variables to request interfaces in different environments.  such as:

this is dev:
![image](https://user-images.githubusercontent.com/48620706/172814273-b9b81b62-93b6-4ae1-aad8-840e1a55a151.png)

this is test:
![image](https://user-images.githubusercontent.com/48620706/172814340-219c

[2022-06-09 10:58] zangguojun opened #13 "BUG | ssh_exchange_identification: Connection closed by remote host"
### What happened?

when run `pnpm dlx plasmo init example-dir`
error !!
<img width="924" alt="image" src="https://user-images.githubusercontent.com/49148972/172831537-3d1e48c5-3ed4-4c5a-85dd-bdd61607fd8a.png">

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

_No response_

### (OPTIONAL) Co

[2022-06-09 11:25] liaoliao666 opened #14 "BUG | UseEffect can not be used in content-script"
### What happened?

A bug happened!

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

[code]

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the [current issues](https://github.com/PlasmoHQ/plasmo/issu

[2022-06-09 11:30] ColdSauce commented on #13
Hey @zangguojun, thanks for reporting! This isn't a bug with Plasmo but rather an SSH issue. Do you have something blocking you from connecting to GitHub via SSH?

There are some [resources online](https://stackoverflow.com/questions/10127818/ssh-exchange-identification-connection-closed-by-remote-host-under-git-bash) that can help you fix this issue.

I'll close this issue for now since it's out

[2022-06-09 11:39] ColdSauce commented on #14
Hi @liaoliao666, I just tried to reproduce this bug but couldn't.

The following works for me:

`content.tsx`:
[code]

Can you share how you're using `useEffect` that is causing this issue?

[2022-06-09 12:13] liaoliao666 commented on #14
okay, its my mistake. but i found that this happens if i import some hook of `react-use`, like below

import { useEffect, useState } from 'react'
import { useLatest } from 'react-use'

function IndexContent() {
  const [data, setData] = useState('')

  useEffect(() => {
    setData('foo')
  })

  console.log('useLatest', typeof useLatest)

  const a = useLatest(data)

  return (
    <div
      sty

[2022-06-09 12:35] valstu opened #15 "EXP | Inject to window"
### What is the example you wish to see?

Sometimes extension might need to inject own functions or objects directly to users window instance. For example Metamask attaches their provider to `window.ethereum`. Then third party apps can use that object to make calls to Metamask's wallet. Extension cannot access the window object directly but you can add your own script element to users DOM and  do

[2022-06-09 13:30] ColdSauce commented on #15
Have you considered injecting a main world script instead?

For example, since Chrome v95, if you're doing `chrome.scripting.executeScript` you can set the `world` variable to be `MAIN` which will grant you access to the window object, etc.

[Chrome's docs on executeScript](https://developer.chrome.com/docs/extensions/reference/scripting/#method-executeScript)

Here's a quick example I came up wit

[2022-06-09 13:35] ColdSauce commented on #15
We'll likely need to improve the typing somehow to let Typescript know the global `window` variable is available within the injected function. Will need to think about that for a bit, no obvious solutions coming to mind. Hate to say it, but please ignore those global window typing issues for now.

[2022-06-09 14:13] liaoliao666 commented on #14
its odd. I create a new project that can not be reproduce. I will reopen this issue if i found how to reproduce

[2022-06-09 14:13] #14 closed

[2022-06-09 21:28] valstu commented on #15
Thanks, this could actually work. Just took me a while to figure out that I needed to add "scripting" to permissions to get this working 👍

I guess I can live with that

[2022-06-09 21:53] ColdSauce commented on #15
Ah, sorry should've mentioned it!

We're working on a feature within Plasmo that'll automatically figure out the correct permissions based on usage, so hopefully, people won't be stuck with those problems of forgetting permissions anymore.

I'll close this issue now, as the example seems satisfactory. We'll likely add it to the official docs soon. Thanks so much for the suggestion!

If you have an

[2022-06-09 21:53] #15 closed

[2022-06-09 23:25] ColdSauce commented on #15
I just [wrote up an example](https://github.com/PlasmoHQ/examples/tree/main/with-main-world-content-script-injection/background) showcasing this functionality.

[2022-06-10 04:42] zangguojun commented on #14
By the way, Whether the style of `tailwindcss` cannot be used in content-script-UI.

[2022-06-10 10:32] zangguojun opened #16 "EXP | With Ant Design UI"
### What is the example you wish to see?

 I would like to see more examples of how to use Ant Design UI in Plasmo.
 Ant Design UI: https://ant.design/docs/react/introduce

### Is there any context that might help us understand?

I think tailwindcss is very convenient but not suitable for rapid development.
**So why not add some convenient UI.**

### Code of Conduct

- [X] I agree to follow this p

[2022-06-10 11:53] ColdSauce commented on #16
Hey @zangguojun good to see you again. I hope you figured out the Git SSH issue from yesterday.

I just added [the example with-ant-design](https://github.com/PlasmoHQ/examples/tree/main/with-ant-design). It works with popups and options page but it won't work on content scripts. I think @louisgv is adding this functionality into injected content scripts probably today or tomorrow.

Here's what it

[2022-06-10 11:54] ColdSauce commented on #16
Thanks for the request! Will close this issue as the example has been created.

[2022-06-10 12:43] ColdSauce commented on #14
Yeah it's a known issue. Please see #9

We'll have that feature working either today or tomorrow

[2022-06-11 08:24] zangguojun commented on #16
Thanks for your `example with-ant-design`.
But sorry, I still run and report an error.
I copied all your files(.gitignore, .prettierrc.cjs, index.css,  package.json, popup.tsx, tsconfig.json)
then I ran `pnpm install` and  `pnpm dev` but I got error
<img width="1145" alt="image" src="https://user-images.githubusercontent.com/49148972/173179829-85b5b609-aabd-4bff-a99d-7ba1aaf126ea.png">

The demo l

[2022-06-11 15:46] louisgv commented on #12
I have added a new docs section about non-cascading env:
https://docs.plasmo.com/workflows/env#non-cascading-environment-variables

The `test` environment is still in the work. I think we might want to do a `plasmo build --test` which produces a bundle strictly for testing.

[2022-06-11 15:46] #12 closed

[2022-06-11 16:48] louisgv commented on #16
@zangguojun Howdy - I just fixed this issue, and it should be available in plasmo@0.42.0. Can you please upgrade and try again :D - If it's working, feel free to close the issue.

[2022-06-12 00:47] #16 closed

[2022-06-12 06:21] mariotacke commented on #7
Is it currently possible to load another font? If so, how?

[2022-06-12 06:56] louisgv commented on #7
Yes, you can load them manually into your react component (or mounting it manually into the popup's html template)

[2022-06-12 07:03] mariotacke commented on #7
Do you have an example of how to achieve this? Should I create a `popup.html` file?

[2022-06-12 07:15] louisgv commented on #7
The `_document.tsx` feature is not implemented yet - it's only at the RFC/drafting stage atm! In terms of the example for injecting style, something like this might work:

`style.css`

[code]

`popup.tsx`

[code]

OR

`popup.tsx`

[code]

You might also need to add the remote font URLs to the manifest CSP policy: https://developer.chrome.com/docs/extensions/mv3/intro/mv3-migration/#content-securit

[2022-06-12 09:19] zangguojun opened #17 "EXP | With Fusion UI"
### What is the example you wish to see?

I also know a UI component library that is widely used in Chinese communities, Fusion UI (or alibaba-fusion/next)
Fusion UI : https://github.com/alibaba-fusion/next

### Is there any context that might help us understand?

I think Fusion UI and Ant Design UI  are very similar in function and use.
**I try to install @alifd/next and write `@import '@alifd/ne

[2022-06-12 19:46] louisgv commented on #17
@zangguojun what error are you seeing when doing so?

[2022-06-13 01:05] zangguojun commented on #17
Like this
<img width="1151" alt="image" src="https://user-images.githubusercontent.com/49148972/173262061-6c00200f-474f-4ff3-bee8-105d4f3dca03.png">

[2022-06-13 01:07] zangguojun commented on #17
The example demo: https://github.com/zangguojun/bilibili-classify

[2022-06-13 20:49] ColdSauce commented on #17
Hi @zangguojun,

This is happening because the Parcel CSS parser doesn't believe the imported CSS from `@alifd/next/dist/next.css` is valid.

This is due to the following line in the CSS file:

[code]

(The `0\0` is what it is complaining about since it's not valid CSS. It's a hack in CSS to detect IE)

Here's the relevant [Parcel issue](https://github.com/parcel-bundler/parcel/issues/7854) discus

[2022-06-13 20:55] ColdSauce commented on #17
It looks like something like this [was reported](https://github.com/alibaba-fusion/next/issues/2505) but the maintainer added a `wontfix` tag,

[2022-06-14 10:13] Venipa opened #19 "RFC | Sass Import"
### What happened?
[code]
tailwind import not found.
probably missing includePaths to node_modules

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

[code]

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I chec

[2022-06-14 11:14] Braden1996 opened #20 "BUG | Content Scripts UI not working - requires all exports present in production build"
### What happened?

I am in the process of investigating porting our Chrome extension to Plasmo (https://attio.com/).
There seems to be an issue with the content UI scripts; they seem to require `getStyle`, `getMountPoint` and `getRootContainer` to always all be exported. The docs and examples seem to suggest otherwise.

I tried cloning the examples and noticed `with-content-scripts-ui` doesn't ac

[2022-06-14 12:44] Braden1996 commented on #20
Small update: I've been using `export getStyle = undefined` as a quick workaround.

[2022-06-14 12:59] ColdSauce commented on #20
Hey @Braden1996, thanks for the report!

I think this has to do with how we're bundling production builds.

In our Parcel build config, we specify the type as a `production` build which strips away any unused exports due to tree shaking. This seems to have unintended consequences.

https://github.com/PlasmoHQ/plasmo/blob/main/cli/plasmo/src/commands/build.ts#L53

I suggest either using `npm run de

[2022-06-14 20:04] louisgv opened #21 "BUG | CSS import into content script UI causes error"
### What happened?

[Chat Thread](https://discord.com/channels/946290204443025438/948852350766960660/986334656184074331)

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

[code]

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code o

[2022-06-14 20:06] louisgv commented on #20
This should be fixed in a9b72d145f04cb6edf3f79c2fde14913ee0005bc - @Braden1996 when you got a moment, can you please upgrade plasmo and test it out :D

[2022-06-14 20:11] louisgv opened #22 "[RFC] @plasmohq/csui"
### How do you envision this feature/change to look/work like?

We are discussing how to solve this issue - TBA

- [x] #198
- [x] Simplify the remount logic (#121)
- [x] Exposes the underlying createShadowContainer
- [x]  Continuously mounting/remounting (#190)

### What is the purpose of this change/feature? Why?

Originally from: <https://github.com/PlasmoHQ/examples/issues/3> by @deno-source

#

[2022-06-14 20:18] louisgv opened #23 "[EXP] Add style injection for content script UI to with-ant-design"
### What is the example you wish to see?

Use `D - Optional style container, injected into the shadowDOM`  in `RFC | Style injection for Content Script UI #9`
add `contents/index.tsx`

[code]

Maybe you also should upgrade your plasmo verison.

### Is there any context that might help us understand?

Originally posted in https://github.com/PlasmoHQ/examples/issues/4 by @zangguojun

### Code of Con

[2022-06-14 21:57] ColdSauce opened #24 "EXP | with-jotai"
### What is the example you wish to see?

This is a good first issue if you want to contribute to our framework!

Jotai is an excellent state management library for React. It'd be awesome to have an example showing how it works with Plasmo.

### Is there any context that might help us understand?

https://jotai.org/

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X]

[2022-06-14 22:11] louisgv commented on #20
False-positive - after testing my fix in build -> the build passed, but the extension itself now crash at runtime trying to look for dependency

[2022-06-15 00:56] #20 closed

[2022-06-15 00:56] #21 closed

[2022-06-15 04:07] louisgv commented on #20
https://github.com/parcel-bundler/parcel/issues/8071#issuecomment-1133549719 <- this was the solution. We made our own parcel bundler and use that for our setting.

[2022-06-15 09:57] Aarush-wadhia commented on #24
I would like to contribute

[2022-06-15 11:25] Aarush-wadhia commented on #24
@ColdSauce I am getting this issue :
` ERR_PNPM_NO_MATCHING_VERSION_INSIDE_WORKSPACE  In ../../cli/create-plasmo: No matching version found for @plasmo/config@* inside the workspace`
while running the following command `pnpm dlx plasmo init`

[2022-06-15 11:45] ColdSauce commented on #24
Hey @Aarush-wadhia, sounds great, thanks for helping out!

Where are you running that command?

[2022-06-15 11:59] ColdSauce opened #27 "EXP | with-react-router"
### What is the example you wish to see?

This is a good first issue if you want to contribute to our framework!

[React Router](https://github.com/remix-run/react-router) is required for React apps that span multiple pages.

### Is there any context that might help us understand?

This would be a highly impactful addition to the examples.

### Code of Conduct

- [X] I agree to follow this project

[2022-06-15 12:03] ColdSauce opened #28 "RFC | DevTools Panel AI"
### How do you envision this feature/change to look/work like?

We have DevTools support, but we need to think about how to best integrate the sub-components like [Panels](https://developer.chrome.com/docs/extensions/reference/devtools_panels/), etc.

### What is the purpose of this change/feature? Why?

Right now, DevTools isn't supported very well with Plasmo.

### (OPTIONAL) Example implementat

[2022-06-15 12:38] ColdSauce commented on #24
Hmm, interesting. It's complaining it can't find the `plasmo/packages/config/` directory.

I couldn't get this to reproduce on our CI environment or my Mac locally, so I'm not sure why it's saying that for you.

Are you able to build other examples in the directory using pnpm? Does something like `cd with-ant-design && pnpm build` work?

Also, can you do `pnpm dlx plasmo init` in a random director

[2022-06-15 15:32] Aarush-wadhia commented on #24
Hmm, its weird when I create new project outside the plasma package it is working fine but inside the example package when I am using `pnpm dlx plasmo init` command it is giving the above mentioned error
And in my example folder I don't have any other examples it's empty folder

[2022-06-15 15:34] ColdSauce commented on #24
Ah - I think it's because you need to use `--recurse-submodules` when cloning our plasmo monorepo.

[code]

For more info, check out our [contributing docs](https://github.com/PlasmoHQ/plasmo/blob/main/.github/CONTRIBUTING.md#developing).

[2022-06-15 15:41] Aarush-wadhia commented on #24
I got the issue
My git is not allowing me to clone all the directories because of my ssh keys for which I have to change the git clone URL
Let me resolve this real quick

[2022-06-15 16:35] Aarush-wadhia commented on #24
Hey @ColdSauce the issue is resolved.
Like I thought it was my ssh issue which I have resolved now and it is working fine
I will be working on with-jotai example

[2022-06-15 16:51] Aarush-wadhia commented on #24
Hi, @ColdSauce it is showing `zsh: command not found: plasmo` while running command `pnpm build` or `pnpm dev`.

[2022-06-15 17:10] ColdSauce commented on #24
Have you done `pnpm i`?

[2022-06-15 17:28] kulame opened #29 "EXP | firefox support"
### What is the example you wish to see?

hao can i build a firefox addon with plasmo?  any example for it?

### Is there any context that might help us understand?

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the [current issues](https://github.com/PlasmoHQ/plasmo/issues) for duplicate problems.

[2022-06-15 17:37] ColdSauce commented on #29
Hey @kulame, thanks for the example request! We don't support Firefox. Not yet, at least!

We're focusing on Chrome until we get to a stable v1. Then, we'll look into supporting Firefox and other browsers!

If you'd like to build Firefox add-ons, Plasmo isn't the right tool for the job. I'll update you here when that changes in the future :)

[2022-06-15 17:37] #29 closed

[2022-06-15 18:11] Aarush-wadhia commented on #24
Yes

[2022-06-15 18:41] ColdSauce commented on #24
Go to the monorepo root folder and run

[code]

and then try again

[2022-06-15 20:35] louisgv commented on #22
Since `document.querySelectorAll` returns an array of element - it will be an interesting thing to think about - atm content-script-ui is only concerned with 1 react component (rc) - 1 content-script (cs) - 1 mount point (mp) - 1 webpage (wp)

This RFC will expand the above to 1 rc - 1 cs - n mp - 1 wp

[2022-06-15 20:42] louisgv commented on #22
One way to mount to many mp is to clone the exported react component (using react clone etc...) - The tricky part is that our virtual DOM only mounts 1 component, not many.

ATM, user likely will need to export special logic in their component to mount them into mountPoint specifically. I think that makes more sense than exposing another function API on the csui template.

I.e, we can have a hook

[2022-06-15 20:49] louisgv commented on #24
The second cmd should be `pnpm build:cli` since we just want the plasmo cli to be built here I think. Also, you will need to do `pnpm i` again afterward to ensure the plasmo binary is properly linked

[2022-06-16 03:45] crazyair opened #31 "RFC | Support browser right click menu"
### How do you envision this feature/change to look/work like?

Support browser right click menu

### What is the purpose of this change/feature? Why?

![image](https://user-images.githubusercontent.com/7971419/173986576-555eb20c-9a85-4bca-9017-96efb3ae1fce.png)

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

_No response_

### Verify canary release

- [X] I

[2022-06-16 04:54] Aarush-wadhia commented on #24
It worked
I did following steps
`pnpm i`
`pnpm build:cli`
`pnpm i`
`pnpm build`

Then I navigated to the examples folder in which I went to *with-redux* and then I run the command `pnpm dev` it started the development server but it didn't opened in any browser

[2022-06-16 05:04] Aarush-wadhia commented on #24
<img width="1440" alt="Screenshot 2022-06-16 at 10 31 54 AM" src="https://user-images.githubusercontent.com/45955091/173995117-bc8a3b28-f9b7-41c5-9e0a-509ff503f851.png">
for reference

[2022-06-16 07:04] Aarush-wadhia commented on #27
I would like to contribute

[2022-06-16 07:09] Aarush-wadhia commented on #27
I would like to contribute

[2022-06-16 09:15] crazyair opened #32 "BUG | less set javascriptEnabled true"
### What happened?

`@parcel/transformer-less: Inline JavaScript is not enabled. Is it set in you`

### Version

Latest

### What OS are you seeing the problem on?

_No response_

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of

[2022-06-16 12:43] ColdSauce commented on #31
You can use Chrome's `chrome.contextMenus` API to do this: https://developer.chrome.com/docs/extensions/reference/contextMenus

Were you asking for something else?

[2022-06-16 12:43] ColdSauce commented on #32
Can you please provide more context?

[2022-06-16 12:47] crazyair commented on #32
i use `with-content-scripts-ui` add `antd`  use  `import cssText from "data-text:antd/dist/antd.less"`

`@parcel/transformer-less: Inline JavaScript is not enabled. Is it set in you`

[2022-06-16 12:50] crazyair opened #33 "BUG | z-index: 1"
### What happened?

Why write dead `z-index: 1`, i can remove it?

<img width="584" alt="image" src="https://user-images.githubusercontent.com/7971419/174073262-0070cbb9-f922-47e9-86cf-c5b2d6bf90dc.png">

i use `with-content-scripts-ui` demo

### Version

Latest

### What OS are you seeing the problem on?

_No response_

### What browsers are you seeing the problem on?

_No response_

### Relevant

[2022-06-16 13:40] IsLand-x opened #34 "EXP | Help wanted! How to add locales for crx while building with plasmo?"
### What is the example you wish to see?

I would like to see an example of how to use i18n in plasmo.

Recently I want to submit an extension to edge extension store. When I choose language for the extension, however, the language is English(US) by default. This extension is mainly for Chinese Market, so I want to add a "default_locale" in "manifest" field (I know I should modify it in package.js

[2022-06-16 14:36] ColdSauce commented on #34
Investigating now. Thanks for the report, and kind words!

[2022-06-16 14:52] ColdSauce commented on #33
Hey @crazyair thanks for the bug report!

If you use [`getRootContainer` ](https://docs.plasmo.com/workflows/content-scripts#getrootcontainer), you can have all the flexibility you'd like with how the root container looks.

If you want your container to mount a shadow DOM like how we do internally, your `getRootContainer` can look something like this:

[code]

Does this help?

[2022-06-16 15:35] ColdSauce commented on #34
Just added `i18n` support. Will publish to `canary` release when our tests pass!

I also have an example working. Will push it to our examples repo when canary is released.

[2022-06-16 16:03] ColdSauce commented on #34
Hi @IsLand-x, I just published a canary version `0.42.9-alpha.1` that has i18n support when doing `pnpm build`.

I'm adding support to the `dev` command now.

But to mitigate your issue, please upgrade to `"plasmo": "0.42.9-alpha.1"`.

It expects you to have an `assets/_locales/{your_langugage}/messages.json` file. Will add the example in the next few mins.

[2022-06-16 16:26] ColdSauce commented on #34
[with-i18n](https://github.com/PlasmoHQ/examples/tree/main/with-i18n) example added.

Closing this issue. Thanks again for the request!

If you run into problems, please open up another issue with `BUG` and we'll investigate further.

[2022-06-16 16:26] #34 closed

[2022-06-16 16:26] ColdSauce commented on #34
Will add docs when we promote `canary` to `latest`

[2022-06-16 16:44] louisgv commented on #33
@crazyair if you test out `with-content-scripts-ui`, in the `plasmo-mount.tsx` file - without the `z-index: 1` it will not work (bc Shadow DOM are insert before all other DOM element). The z-index simply make them "overlay" which is the intended design.

It is a feature, not a bug 😜

[2022-06-16 16:44] #33 closed

[2022-06-16 16:45] ColdSauce commented on #32
This is a known [Parcel issue](https://github.com/parcel-bundler/parcel/issues/6623). We'll have to wait for them to come up with a good solution, or you'll have to try out some of the mitigations people have mentioned on that issue.

[2022-06-16 18:27] louisgv commented on #17
Technically, we can cook the `@alifd/next`'s css import code in our resolver and make it behave appropriately (i.e, patch out the css pieces that aren't working).

[2022-06-16 18:46] louisgv commented on #17
Actually - postcss got this! https://github.com/parcel-bundler/parcel/issues/7854#issuecomment-1084962552

@zangguojun can you try adding that postcss plugin and see if it work

[2022-06-16 18:47] #17 closed

[2022-06-16 19:03] #24 closed

[2022-06-17 02:53] #31 closed

[2022-06-17 02:53] crazyair commented on #31
thinks

[2022-06-17 03:38] IsLand-x commented on #34
Wow, you're so productive!
Glad to help, I'll make a  pr recently😀

[2022-06-17 13:42] ColdSauce commented on #27
@Aarush-wadhia thanks for the contribution! You crushed it!

Closing as https://github.com/PlasmoHQ/examples/pull/6 has been merged.

[2022-06-17 13:42] #27 closed

[2022-06-17 16:09] Aarush-wadhia commented on #27
My pleasure

[2022-06-18 06:49] GeoBrodas opened #36 "[RFC] npm/pnpm/yarn create plasmo"
### How do you envision this feature/change to look/work like?

Similar to how Next.js `npx create-next-app --with-tailwindcss` sets up Tailwind CSS in a Next.js project with a single command, it would be great if Plasmo had similar cli commands for all its [quickstart integrations](https://docs.plasmo.com/quickstarts)

eg: `npx create-plasmo --with-nextjs` would set up starting files for a Plasmo

[2022-06-18 16:13] cananda opened #38 "BUG | Manifest file is missing or unreadable"
### What happened?

I'm trying to test with-supabase example as-is and I get a "Manifest file missing or unreadable" error when trying to load the extension (see screenshot) on chrome Version 102.0.5005.115 (Official Build) (64-bit). My dependencies are up-to-date - Plasmo 0.43.1

I have created a .env.local based on the example example.env.local file and installed all dependencies as recommended

[2022-06-18 16:41] ColdSauce commented on #38
Hey @cananda, I think when you're "loading unpacked" your extension you're telling chrome to look at `~/src/examples/with-supabase` when you should point it to  `~/src/examples/with-supabase/build/chrome-mv3-dev` (or  `~/src/examples/with-supabase/build/chrome-mv3-prod` if you're doing `build` instead of `dev`)

[2022-06-18 16:51] cananda commented on #38
@ColdSauce Thank you! I overlooked that and it now installs. However, on clicking the "With Supabase" link from the extension, nothing happens? I was hoping to see a login | signup screen? My apologies if it is obvious to use this, I'm new to this.

[2022-06-18 17:34] ColdSauce commented on #38
No probs! Are you following the quickstart guide? https://docs.plasmo.com/quickstarts/with-supabase

[2022-06-18 17:35] cananda commented on #38
@ColdSauce yes, and use the code from examples folder.  All I did was create the .env.local as recommended with actual supabase URL and credentials

[2022-06-18 18:47] ColdSauce commented on #38
We've implemented the example using an Options page so you'll need to go to your extension's options page.

<img width="397" alt="image" src="https://user-images.githubusercontent.com/2267038/174452152-1c704b45-5c27-4417-bed4-a02275003ad4.png">

<img width="465" alt="image" src="https://user-images.githubusercontent.com/2267038/174452157-340fbe1a-c09e-4061-bdb7-9aa93cadfcb3.png">

With Plasmo, you

[2022-06-18 20:41] cananda commented on #38
Thank you for your patience! It all looks good now

[2022-06-18 20:42] cananda commented on #38
Thank you for your patience! It all looks good now  :)

[2022-06-18 20:42] #38 closed

[2022-06-19 13:25] Lion7yu opened #39 "BUG | .tsx Import"
### What happened?

When I created the Plasmo application following the steps in the documentation, there was a type that referenced the wrong type.

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

[code]

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to

[2022-06-19 13:26] Lion7yu opened #40 "BUG | .tsx Import"
### What happened?

When I created the Plasmo application following the steps in the documentation, there was a type that referenced the wrong type.
<img width="859" alt="c1edaa46222a16ca8d36c4ec003f9c2" src="https://user-images.githubusercontent.com/77977467/174483421-3f0553fd-6dce-4a3d-86dc-d62c15570108.png">

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What bro

[2022-06-19 13:27] #39 closed

[2022-06-19 16:41] ColdSauce commented on #40
Thanks for the report! We'll take a look when we have the chance.

In the meantime, to mitigate, I'd suggest using an older version of Plasmo that doesn't have the bug.

[2022-06-20 10:12] louisgv commented on #40
@Lion7yu where are you trying to import the tsx file? Or is this like following just the plain example with `plasmo init`?

[2022-06-20 14:57] Lion7yu commented on #40
yes, I just run `pnpm dlx plasmo init` and `pnpm dev`

[2022-06-20 15:03] ColdSauce commented on #40
I can't personally reproduce this on either my local or CI environment. Are you running the latest version of Plasmo?

[2022-06-20 15:51] ColdSauce commented on #40
I think your lockfile is pinning the version at `0.43.1`: https://github.com/Lion7yu/plasmo-demo/blob/master/pnpm-lock.yaml#L16

Could you try removing your lockfile and then installing again?

[code]

[2022-06-21 08:22] deno-source opened #41 "BUG | run build"
### What happened?

![image](https://user-images.githubusercontent.com/21171308/174752301-ffea1bb4-14e1-45ba-bb27-ea4b86d4bc08.png)
When I start packing, it says require doesn't exist, but the project uses es Module syntax

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

_No response_

###

[2022-06-21 09:17] deno-source opened #42 "BUG | External modules are not supported when building for browser"
### What happened?

![image](https://user-images.githubusercontent.com/21171308/174764142-513de430-47c0-40eb-bd1b-aa4819689ad2.png)
I didn't import extra weird modules

content.ts
[code]

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No resp

[2022-06-21 11:32] ColdSauce commented on #42
Hi @deno-source thanks for reporting these bugs!

Can you confirm the version number of Plasmo you're using?

[code]

Sometimes, lock files will pin versions to old versions and we had issues with modules in a recent version, so I am suspecting you're likely pinned to that broken version.

If you have an old version, I recommend deleting your lockfile, and just running install again. Let me know i

[2022-06-22 00:19] louisgv commented on #41
@deno-source Can you check the lock file of your package manager and see which version of plasmo is pinned at?

[2022-06-22 09:25] thomas-void0 opened #46 "EXP | how get cookies and set request proxy"
### What is the example you wish to see?

hello, dear author.

I need to implement the user login effect. However, I could not get the cookies returned by the interface after LOGGING in. I tried to set up the JSON file. sush as:

![image](https://user-images.githubusercontent.com/48620706/174993653-45bf493d-c1b5-4156-b8e8-5590b13510fa.png)

However, it will be overwritten after the restart.

In ad

[2022-06-22 19:50] wanhose commented on #42
Hi @deno-source and @louisgv,

If you have set `engines` in your `package.json`. Try to delete the `engines` key in this file. It solved the issue for me. It seems an issue with `parcel` as this user relates [here](https://github.com/parcel-bundler/parcel/issues/6769#issuecomment-1006334339).

[2022-06-23 01:46] thomas-void0 commented on #46
I'm not familiar with Google extension development, but with Plasmo's help, I don't have to learn Google documentation.  very nice nice nice

[2022-06-23 01:46] #46 closed, assigned to nobody

[2022-06-23 14:53] #42 closed

[2022-06-24 06:25] liaoliao666 opened #48 "RFC | Is there any way to access the webpack config?"
### How do you envision this feature/change to look/work like?

Sometimes I wanna configure the webpack to satify my own requirement, Is there any to configure? cuz I look at the docment but I'm not found the way

### What is the purpose of this change/feature? Why?

e.g. I wanna copy some static html to the build assets

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contac

[2022-06-24 10:26] crazyair opened #49 "RFC | add custom process.env.XXX"
### How do you envision this feature/change to look/work like?

I want to `process.env.XXX`

### What is the purpose of this change/feature? Why?

Add the parameters you want to add

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

_No response_

### Verify canary release

- [X] I verified that the issue exists in `plasmo` canary release

### Code of Conduct

[2022-06-24 10:51] deno-source commented on #48
This looks like it was built using parcel, and I wanted the configuration items to be open for more flexibility

[2022-06-24 10:56] crazyair commented on #49
@liaoyinglong 可以支持自定义 process 吗

[2022-06-24 12:18] louisgv commented on #49
@crazyair `.env` file does not work for you? (https://docs.plasmo.com/workflows/env)

[2022-06-24 12:19] louisgv commented on #48
We will publish an example on how to do this using the `url:` scheme soon. And yes, Plasmo uses Parcel underneath

[2022-06-24 12:35] liaoliao666 commented on #48
thz ur effort, hope to see it soon

[2022-06-24 12:42] crazyair commented on #49
I can ?
[code]

[2022-06-24 14:50] liaoliao666 commented on #48
@ColdSauce
It seems not work for my situation. I wanna import the url of html in my content-script. and in this html that contains a script like `<script type="module" src="index.js"></script>`,  But it turns to `<script src="/audio.867af612.js" defer=""></script>` after complied. so that I can not excute the `index.js`.
so u should turn it to `<script src="chrome-extension://xxx/audio.867af612.js

[2022-06-24 15:27] ColdSauce commented on #48
Are you able to do something like this:[ main world script](https://docs.plasmo.com/workflows/content-scripts#injecting-into-the-main-world) to solve your problem? Since it seems you'd like to put index.js into the main world.

[2022-06-24 15:58] liaoyinglong commented on #49
example
https://github.com/PlasmoHQ/examples/tree/main/with-env-files
https://github.com/PlasmoHQ/examples/blob/main/with-env-files/example.env.local

[2022-06-24 15:59] crazyair commented on #49
[code]

[2022-06-24 16:19] liaoliao666 commented on #48
@ColdSauce
It's not useful to me. cuz i need an iframe to isolate my code to bypass some of the website's strategies.

so i need a url of a html to achieve my prupose

[2022-06-24 19:59] louisgv commented on #49
@crazyair does it work?

[2022-06-24 20:01] louisgv commented on #48
You should inject this index.html page from your content-script, it will work imo (as reported by a community member on Discord)

[2022-06-24 20:01] #40 closed

[2022-06-24 20:54] louisgv commented on #48
Regarding this, can you try `<script type="module" src="url:./audio.ts"></script>`

[2022-06-25 00:21] crazyair commented on #49
yes

[2022-06-25 00:21] #49 closed

[2022-06-25 04:57] liaoliao666 commented on #48
@louisgv
thz ur suggest. It worked for me

[2022-06-25 12:55] #48 closed

[2022-06-27 06:30] champkeh opened #51 "EXP | how to process APIs namespace?"
### What is the example you wish to see?

I would like to see how to use browser extension APIs, especially namespace, for example, `chrome.runtime.xxx` for Chrome and Opera, `browser.runtime.xxx` for FireFox and Edge. If i use plasmo framework, which one should i use?

In addition, since manifest v3 out, some APIs are only available to Chrome, how to use this api with plasmo?

I found there is an

[2022-06-27 06:38] champkeh commented on #51
Sorry, I just find another issue [firefox support](https://github.com/PlasmoHQ/plasmo/issues/29), so I close this issue

[2022-06-27 06:38] #51 closed

[2022-06-27 07:49] deno-source opened #52 "BUG | use the latest network API of V3"
### What happened?

![image](https://user-images.githubusercontent.com/21171308/175887281-ff356cad-591c-4370-bc4b-7f2cb6e8b2ca.png)

![image](https://user-images.githubusercontent.com/21171308/175887350-f75dc742-581e-42bc-9922-c56f77815814.png)

I want to use the latest network API of V3, but it seems that it is not very friendly to JSON files after compilation, and it becomes a JS file.

### Vers

[2022-06-27 07:52] deno-source opened #53 "BUG | URL protocol reports an error in the editor"
### What happened?

![image](https://user-images.githubusercontent.com/21171308/175888198-aafff38e-983e-4afa-9d55-358b52eb64b8.png)
The function works normally, but in vscode, it keeps reporting errors, which makes people a little obsessive-compulsive. I tried to restart the project and vscode, but they didn't work

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What

[2022-06-27 09:20] crazyair opened #54 "BUG | please remove github.com package"
### What happened?

i create new package，use `pnpm dlx plasmo init example-dir`, bug i can't install
[code]
Because there are
<img width="958" alt="image" src="https://user-images.githubusercontent.com/7971419/175905925-9ae7d058-e6d3-4c64-bd2b-468d4d79027b.png">

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

_No response_

[2022-06-27 10:56] crazyair commented on #54
Whether it can be removed github.com package

[2022-06-27 13:24] crazyair commented on #54
gitlab install error

<img width="1339" alt="image" src="https://user-images.githubusercontent.com/7971419/175952338-7c8b0182-7f6c-434c-8912-5f300945cf25.png">

[2022-06-27 14:35] ColdSauce commented on #53
Please update to the latest plasmo version. This has been fixed! (You might need to remove your lock file and install again in case it's pinning the version)

[2022-06-27 14:35] ColdSauce commented on #53
Please update to the latest plasmo version. This has been fixed! (You might need to remove your lock file and install again in case it's pinning the version)

[2022-06-27 14:36] ColdSauce commented on #52
Thanks for the report! We'll look into resolving this soon.

[2022-06-27 14:42] ColdSauce commented on #54
Thanks for the report! I think there's something going on with your mac's SSH configuration. Specifically, the saved host keys. Check this answer for help: https://stackoverflow.com/questions/13363553/git-error-host-key-verification-failed-when-connecting-to-remote-repository

[2022-06-28 00:22] crazyair commented on #54
updated is ok
[code]

[2022-06-28 00:22] crazyair commented on #54
local is ok

gitlab ci is error

[2022-06-28 01:54] louisgv commented on #54
Argh... technically, we can fork this out. The why is as follow:

[code]

[2022-06-28 02:41] deno-source commented on #53
Thank you very much. That worked out.  If you encounter this problem later, please restart your editor after updating your dependencies

[2022-06-28 02:41] #53 closed

[2022-06-28 02:53] louisgv commented on #52
This should be fixed in <https://github.com/parcel-bundler/parcel/pull/8189>, and since latest plasmo is using parcel 2.6.2 (which includes the fix), I think all you need to do is upgrade plasmo to latest version @deno-source

[2022-06-28 03:00] #54 closed

[2022-06-28 03:16] louisgv commented on #52
doc updated: https://docs.plasmo.com/workflows/faq#tilde-import-resolution

[2022-06-28 04:42] deno-source commented on #52
That's great! That solved my puzzle! Thank you very much for your answer!

[2022-06-28 04:43] deno-source commented on #52
That's great! That solved my puzzle! Thank you very much for your answer!

[2022-06-28 05:01] #52 closed

[2022-06-28 05:17] crazyair opened #57 "EXP | How to dynamically change icons"
### What is the example you wish to see?

![image](https://user-images.githubusercontent.com/7971419/176098339-ab9689f7-075a-4a62-ab9c-7659434d289f.png)
to
![image](https://user-images.githubusercontent.com/7971419/176098407-b0090623-c171-4f2f-b1d8-a2647de6e971.png)

### Is there any context that might help us understand?

_No response_

### Code of Conduct

- [X] I agree to follow this project's

[2022-06-28 06:36] deno-source commented on #52
I want to inject a script, using the ~ method does not seem to work, is there any other way, indexJS does not depend on any, this is a separate script

![image](https://user-images.githubusercontent.com/21171308/176109722-14ef3c74-4ae9-4b9e-b9b4-7e5391831f7f.png)
![image](https://user-images.githubusercontent.com/21171308/176109856-723ba45f-0d05-421b-acb7-aef87a84b2b2.png)

[2022-06-28 08:24] louisgv commented on #36
#56 should enable the basic `create-plasmo` - it does not clone example yet. We might tackle that in another PR

[2022-06-28 08:28] deno-source commented on #52
![image](https://user-images.githubusercontent.com/21171308/176132091-a8f1fd3c-e7d7-4f8b-8c6f-c0c3740f35a0.png)

![image](https://user-images.githubusercontent.com/21171308/176132056-fc4c0ae6-7510-4d91-8d80-4ac022692a3a.png)

I have tried this method but still get errors

[2022-06-28 08:30] deno-source commented on #52
I use it in background-js

[2022-06-28 10:59] crazyair opened #58 "BUG | gitlab ci error"
### What happened?

run pnpm build

![image](https://user-images.githubusercontent.com/7971419/176329366-3151816b-f3dc-49e5-9338-22f5060f1eeb.png)

### Version

Latest

### What OS are you seeing the problem on?

Linux

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I

[2022-06-28 13:42] ColdSauce commented on #57
[code]

Make sure your icon is the right size and a PNG.

[2022-06-28 13:42] #57 closed

[2022-06-28 16:06] kiprasmel commented on #29
supporting manifest v2 instead of v3 would be a good start.

otherwise, webextension-polyfill could really help:
- https://github.com/mozilla/webextension-polyfill
- https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Build_a_cross_browser_extension

for now, the advertisement in the landing page that you support all major browsers is misleading.

<img width="718" alt="Screensho

[2022-06-28 16:41] ColdSauce commented on #29
Hi @kiprasmel, thanks for the feedback! That section talks about our SaaS offering (join the waitlist, etc.) rather than the Plasmo Framework, but I understand where the confusion comes from. We're revising the landing page in the coming month --  will update it to be more clear!

Thanks for the suggestions! We won't support MV2 as every browser vendor is going to or has moved to MV3. Re: polyfill

[2022-06-28 16:53] kiprasmel commented on #29
hey @ColdSauce, thanks for clarifying, makes sense now.

yep i understand the focus on chrome, makes sense to focus on 1 place, esp. when starting out.

good luck, i'm looking forward to using plasmo - having developed browser extensions in the past, it looks to me like you guys are working on the right things:)

[2022-06-28 17:16] ColdSauce commented on #58
This is highly unusual. I'll try to reproduce by doing `pnpm build` in a Gitlab CI environment.

[2022-06-28 18:27] louisgv commented on #58
@crazyair can you try canary and see if the issue still there. Also, what nodejs version is gitlab using?

[2022-06-28 18:27] bashbaugh opened #61 "BUG | Cannot load file `../../content` in `./.plasmo/static`"
### What happened?

With a clean install of Plasmo, moving content.tsx into a `src` directoy results in the following errors

[code]

It seems to be because the compiled content.tsx is importing `~/content` rather than `~content`.

tsconfig.json:
[code]

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

[2022-06-28 18:40] #19 closed

[2022-06-28 18:42] bashbaugh commented on #61
@louisgv I've tried both canary and latest, restarting dev server, reinstalling deps, etc. and am still getting this error

[2022-06-28 19:32] louisgv opened #63 "BUG | content.tsx at root does not work"
if one has a `/src/` directory, then the `/contents/` directory is not active.

then, i tried moving into `/src/contents.tsx`, but then i got a different error:

[code]

and needed to apply this change:

[code]

but obv., on each re-run of `plasmo dev`, the /.static/content.tsx file gets re-created, so a proper fix is needed

_Originally posted by @kiprasmel in https://github.com/PlasmoHQ/plasmo/i

[2022-06-28 19:47] ColdSauce commented on #61
@louisgv is this related: https://github.com/PlasmoHQ/plasmo/issues/63 ?

[2022-06-28 19:48] bashbaugh commented on #61
Looks like the same issue, I'll close this

[2022-06-28 19:48] #61 closed

[2022-06-28 20:08] louisgv commented on #63
@kiprasmel @bashbaugh please try plasmo@canary when you got a moment to see if this issue has been fixed, thanks for the bug report 😄

[2022-06-28 20:36] kiprasmel commented on #63
@louisgv hey, thanks, tried canary w/ `/src/content.tsx` and `/src/contents/content.tsx`, both worked now, thanks.
tho i didn't verify if it works if i don't have a /src/ dir

i would've reported  the issue myself, but not being able to report w/o a template was annoying. thanks for extracting.

[2022-06-29 01:05] crazyair commented on #58
node:v16.15.1
pnpm:6.29.2
gitlab:13.12.12

[2022-06-29 01:39] crazyair commented on #58
https://github.com/parcel-bundler/parcel/issues/7702#issuecomment-1037711234

[2022-06-29 02:30] crazyair opened #65 "RFC | support antd theme"
### How do you envision this feature/change to look/work like?

https://ant-design.antgroup.com/docs/react/customize-theme#Customize-in-webpack

### What is the purpose of this change/feature? Why?

I want to set the theme color globally

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

_No response_

### Verify canary release

- [X] I verified that the issue

[2022-06-29 02:42] crazyair commented on #32
i find https://github.com/parcel-bundler/parcel/issues/907#issuecomment-503913211

[2022-06-29 02:42] crazyair commented on #65
i find https://github.com/parcel-bundler/parcel/issues/907#issuecomment-503913211

[2022-06-29 02:42] #65 closed

[2022-06-29 02:48] louisgv commented on #63
@kiprasmel you can also review and comment on the PR #64 itself too 😄 - I think that'd be better than making another issue since it's within that PR scope

[2022-06-29 03:19] #63 closed

[2022-06-29 03:32] louisgv commented on #58
@crazyair does setting the environment variable on gitlab to remove worker worked for you?

[2022-06-29 03:34] crazyair commented on #58
how setting  in this package ?

[2022-06-29 06:05] crazyair commented on #58
yes, is work
![image](https://user-images.githubusercontent.com/7971419/176363259-458dbcd3-ba54-4cad-900a-0d56716f53d1.png)

[2022-06-29 06:05] #58 closed

[2022-06-29 08:16] crazyair opened #66 "[BUG] Error: Got unexpected undefined, Gitlab CI, pnpm@6"
### What happened?

[code]
[code]

gitlab ci/cd
[code]

### Version

Latest

### What OS are you seeing the problem on?

Linux

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the [current issues](https:/

[2022-06-29 08:17] crazyair commented on #66
`content.tsx` and `popup.tsx` use `data-xxx:~`

[2022-06-29 09:16] xiangfengsu opened #67 "[BUG] The requested module 'fs/promises' does not provide an export named 'cp'"
### What happened?

npm run dev error

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

[code]

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the [current issues](https://github.com/PlasmoHQ/plasmo/is

[2022-06-29 09:17] crazyair commented on #67
node > 14

[2022-06-29 09:25] xiangfengsu commented on #67
@crazyair
<img width="295" alt="image" src="https://user-images.githubusercontent.com/9291534/176402324-5099409a-297c-4f5c-8dc3-6126b667fcf7.png">

[2022-06-29 10:44] xiangfengsu commented on #67
用最新的0.44 有问题，改为0.43.7 就可以
<img width="432" alt="image" src="https://user-images.githubusercontent.com/9291534/176418256-c53754db-7e62-4f35-9615-334c1c213591.png">

[2022-06-29 10:50] FrankFan commented on #67
the same problem for me

[2022-06-29 20:00] louisgv opened #68 "[RFC] web-accessible-resources from packages"
### How do you envision this feature/change to look/work like?

[code]

### What is the purpose of this change/feature? Why?

https://discord.com/channels/946290204443025438/948852350766960660/991742507236995072

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

_No response_

### Verify canary release

- [X] I verified that the issue exists in `plasmo` canary

[2022-06-29 21:06] #68 closed

[2022-06-30 06:21] louisgv opened #71 "[EXP] with-inbox-sdk"
### What is the example you wish to see?

https://github.com/InboxSDK/hello-world/tree/mv3

### Is there any context that might help us understand?

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the [current issues](https://github.com/PlasmoHQ/plasmo/issues) for duplicate problems.

[2022-06-30 06:23] louisgv opened #72 "[RFC] create plasmo --with-*"
### How do you envision this feature/change to look/work like?

The above command would clone the `with-stripe` example from the examples repository, and apply necessary install/update.

This is a continuation of #36

### What is the purpose of this change/feature? Why?

Better DX for bootstrapping new extension!

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Detail

[2022-06-30 06:23] #36 closed

[2022-06-30 06:36] louisgv commented on #67
@FrankFan @xiangfengsu can you please do `pnpm dev -- --verbose` OR `npm run dev -- --verbose` and paste the log?

[2022-06-30 06:44] louisgv commented on #66
@crazyair I couldn't reproduce this. I have both my content and popup using a data-scheme, with a similar import path as yours

[2022-06-30 06:45] crazyair opened #73 "[RFC] css modules"
### How do you envision this feature/change to look/work like?

https://v3.umijs.org/docs/assets-css#css-modules

### What is the purpose of this change/feature? Why?

[code]

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

_No response_

### Verify canary release

- [X] I verified that the issue exists in `plasmo` canary release

### Code of Conduct

- [X] I

[2022-06-30 06:45] louisgv commented on #66
One thing that was diff for me is:

[code]

I assign the variable instead of templating it.

[2022-06-30 06:46] crazyair commented on #66
in mac ok，but in gitlab ci error

[2022-06-30 06:47] louisgv commented on #66
If you set `PARCEL_WORKERS=0` does it work?

[2022-06-30 06:47] louisgv commented on #66
This make me to wonder what the heck is gitlab putting in their CI xD....

[2022-06-30 06:47] crazyair commented on #66
yes, use PARCEL_WORKERS=0

[2022-06-30 06:48] crazyair commented on #66
run `PARCEL_WORKERS=process pnpm build`

[2022-06-30 06:49] crazyair commented on #66
`import someCoolImage from "data-base64:~assets/grey.png"`
changed
`import someCoolImage from "url:~assets/grey.png"`
is ok

[2022-06-30 06:49] louisgv commented on #66
@crazyair how's pnpm installed in this gitlab CI?

[2022-06-30 06:49] crazyair commented on #66
npm i -g pnpm;

pnpm version 6.29.2

[2022-06-30 06:50] louisgv commented on #66
hmm, pnpm should be >7.x.x

[2022-06-30 06:51] crazyair commented on #66
I can't use 7. Many projects use 6

[2022-06-30 06:51] crazyair commented on #66
Deployment should be pnpm independent

[2022-06-30 06:52] louisgv commented on #66
Can you try just `npm` instead (no pnpm)?

[2022-06-30 06:53] crazyair commented on #66
[code]

[2022-06-30 06:57] crazyair commented on #66
Can you push gitlab try it?

[2022-06-30 07:25] crazyair commented on #66
default config

[2022-06-30 08:28] crazyair opened #74 "[BUG] Error: e[i] is not a function, with-content-script-ui"
### What happened?

[code]
on click `HELLO WORLD TOP`
### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

[code]

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the [current issues](https://github.

[2022-06-30 10:22] louisgv commented on #66
@crazyair can you run `pnpm dev -- --verbose` and paste the log. I'll get down on this bug later after sleep xd

[2022-06-30 13:13] crazyair opened #75 "[EXP] antd message and modal support with shadow DOM"
### What happened?

in `with-ant-design` add file `content.tsx`
[code]

<img width="1324" alt="image" src="https://user-images.githubusercontent.com/7971419/176685910-29fbfc4f-58e9-43e1-b6f4-7f6bad8c716c.png">

should be green

### Version

Latest

### What OS are you seeing the problem on?

_No response_

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_N

[2022-06-30 13:41] ColdSauce commented on #74
@crazyair Can you try `@plasmohq/storage` version `0.6.1`. Should be fixed in that version

[2022-06-30 13:45] crazyair commented on #74
okay

[2022-06-30 13:45] #74 closed

[2022-06-30 14:19] ColdSauce commented on #75
The root cause of this issue is that antd injects messages outside of the shadow DOM. To change this behavior, and make it so that the messages show up in the shadow DOM, you need to specify the shadow DOM as your container for `getPopupContainer` in antd `message.success`.

Check this out:

[code]

Hope that helps! the code is a bit messy but I hope it explains the general idea. The key thing is

[2022-06-30 14:40] crazyair commented on #75
But what if I use message in other components? Can the container be passed over for use

[2022-06-30 14:42] #75 closed

[2022-06-30 15:12] ColdSauce opened #76 "[RFC] @plasmohq/messaging"
### How do you envision this feature/change to look/work like?

One of the deceptively tricky parts of browser extension development is figuring out how to pass a message from your background service worker to a tab's content script.

The path forward is filled with edge cases!

- What if the tab is a chrome:// or chrome.google.com protected URL?

- What if your extension updated and the content s

[2022-06-30 15:29] ColdSauce commented on #75
Make sure you export the container in plasmo-overlay:

 `export container = document.createElement("div")`

`import { container } from '~contents/plasmo-overlay';`

[2022-06-30 15:30] crazyair commented on #75
yes, local mac is ok，gitlab ci error .

[2022-06-30 15:31] ColdSauce commented on #75
Ok @louisgv will figure out what's going on with Gitlab CI when he wakes up in a few hours :)

[2022-06-30 17:09] p6l-richard commented on #76
Excited for this. I do think the simpel background -> content communication is a very valid use case.

I’m not sure if plasmo should remain in opinionated (maybe limit to providing a with-example that works with webextension-polyfill & webext-bridge), or abstract all of this away by exposing this sendMessage wrapper.

I personally would use it but the downside is that it feels like some magic will

[2022-07-01 01:28] ppark2ya opened #77 "[BUG] background.ts can't read `global` property"
### What happened?

## Description
I am developing BC wallet by referring to [Metamask](https://github.com/MetaMask/metamask-extension). When `popup.tsx` creates a connection using the extension API and uses the metamask library like `extension-port-stream` in the `background.tsx`, an error occurs during the build process. Please refer to the attached image below.

## Environment
- `node version`:

[2022-07-01 02:08] p6l-richard commented on #76
@ColdSauce I've updated an [example repo](https://github.com/p6l-richard/plasmo-extension) that outlines this issue for a reproduction.

I think this case is tricky especially when using `webext-bridge`.

[2022-07-01 03:55] crazyair opened #78 "[BUG] storage use boolean type failure"
### What happened?

in `with-storage`
popup.tsx
[code]
options.tsx

Checked refresh will not be detected

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Microsoft Edge

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of

[2022-07-01 05:31] louisgv commented on #73
@crazyair https://parceljs.org/languages/css/#css-modules <- css module is supported by parcel underneath. We can add a documentation/example for this tho!

[2022-07-01 05:31] #73 closed

[2022-07-01 05:44] louisgv commented on #66
@crazyair BTW can you share the gitlab config you used to setup your project.

[2022-07-01 05:46] crazyair commented on #66
[code]

[2022-07-01 05:47] crazyair commented on #73
[code]

[2022-07-01 06:13] louisgv commented on #66
Try this:
[code]

It works for me.

[2022-07-01 06:17] crazyair commented on #66
pnpm no v7

[2022-07-01 06:48] louisgv commented on #66
How do you setup your pnpm? And why stick to older version?

[2022-07-01 06:50] crazyair commented on #66
V7 will lead to different pnpm lock contents, but many projects are using V6

[2022-07-01 06:51] crazyair commented on #66
try v6 is ok ？ i think ok！

[2022-07-01 07:02] louisgv commented on #77
@ppark2ya you might need to polyfill the buffer and other libraries needed for those module:

Add these to your devDependencies:
[code]

[2022-07-01 07:03] crazyair commented on #66
use v6 is ok ?
use npm is ok ?

[2022-07-01 07:07] xiangfengsu commented on #67
@louisgv
npm verb cli [
    npm verb cli   '/Users/xxxuser/.nvm/versions/node/v16.2.0/bin/node',
    npm verb cli   '/Users/xxxuser/.nvm/versions/node/v16.2.0/bin/npm',
    npm verb cli   'run',
    npm verb cli   'dev',
    npm verb cli   '--verbose'
    npm verb cli ]
    npm info using npm@7.13.0
    npm info using node@v16.2.0
    npm timing npm:load:whichnode Completed in 1ms
    npm timing c

[2022-07-01 07:28] #66 closed

[2022-07-01 07:31] louisgv commented on #67
@xiangfengsu can you try upgrade to node@16.14 - it seems you're on `16.2`. If that works, we will update our doc to indicate `16.14+`

[2022-07-01 07:41] louisgv commented on #73
You're compiling it with `tsc`?

[2022-07-01 07:42] crazyair commented on #73
lint check

[2022-07-01 07:57] louisgv commented on #78
This might be a regression introduced recently, I will take a look

[2022-07-01 08:03] ppark2ya commented on #77
@louisgv I installed the devDependencies that I told you about, but they are the same

[2022-07-01 09:19] louisgv commented on #78
This should be fixed with storage@0.6.2 @crazyair

[2022-07-01 09:21] crazyair commented on #78
thx

[2022-07-01 09:24] crazyair opened #79 "[BUG] When the plug-in is closed or uninstall, the content will not disappear"
### What happened?

↑

### Version

Latest

### What OS are you seeing the problem on?

_No response_

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the [current issues](https://github.com/PlasmoHQ/plas

[2022-07-01 10:03] crazyair commented on #78
[code]
output
[code]

[2022-07-01 10:04] crazyair commented on #78
It is recommended to add unit tests, which will not affect the previously good functions

[2022-07-01 11:46] louisgv commented on #79
@crazyair if you refresh the webpage, it should disappear. This is a Chrome browser issue where the browser doesn't refresh the current page on extension disable/enable, I don't think there's much we can do here (the extension toggle itself is Chrome's stuff).

[2022-07-01 11:46] #79 closed

[2022-07-01 19:54] #67 closed

[2022-07-02 12:20] crazyair commented on #78
@louisgv what's happening?

[2022-07-02 13:59] crazyair opened #80 "[BUG] with-web-accessible-resources"
### What happened?

<img width="1727" alt="image" src="https://user-images.githubusercontent.com/7971419/177003944-8487a2c6-e718-4b84-8567-615848b99a68.png">

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Cond

[2022-07-02 14:09] crazyair commented on #80
`import test from "./assets/test.json"`

[2022-07-02 14:10] crazyair commented on #80
`import test from "./resources/test.json"`

[2022-07-02 15:39] louisgv commented on #78
Hmm... Do you have another hook that's looking at that key, with a default init?

[2022-07-02 15:43] #78 closed

[2022-07-02 15:44] louisgv opened #81 "[BUG] Storage module setting value null"
[code]
output

![image](https://user-images.githubusercontent.com/7971419/176873531-30d53b76-9d87-4e33-a325-a8bc4cfb26a9.png)

_Originally posted by @crazyair in https://github.com/PlasmoHQ/plasmo/issues/78#issuecomment-1172173465_

[2022-07-02 16:17] louisgv commented on #80
Yup, this will be fixed once https://github.com/parcel-bundler/parcel/pull/8269 is merged

[2022-07-02 16:18] louisgv commented on #81
@crazyair can you give me a more thorough picture - where is this hook created, and is there more than 1 hook looking at the same key? And is there any other hook that set the default value to `null`?

[2022-07-02 16:23] crazyair commented on #81
popup.tsx (set value)
[code]

content.tsx (just get value)
[code]

[2022-07-02 18:57] 101arrowz commented on #80
Just BTW, you can also import the raw JSON like you have already done (i.e. it will be loaded as a JavaScript object).

[code]

Alternatively you can import it as a link without even adding it to `web_accessible_resources`: Parcel will add it for you under the hood.

[code]

[2022-07-03 02:28] Aarush-wadhia commented on #71
I would like to contribute

[2022-07-03 03:34] louisgv commented on #80
Note: this is a good substitute for static importing. However, the case where this is needed is when an extension wants to provide a webpage with extra resource file to fetch.

[2022-07-03 04:18] louisgv commented on #71
@Aarush-wadhia please do :D

[2022-07-03 06:26] louisgv commented on #81
This is a react thing - when you do a `console.log` at the component level, it's memorized. Thus the first initialization of the value is always null, until it is actually set.

[2022-07-03 06:29] crazyair commented on #81
popup.tsx
[code]
<img width="129" alt="image" src="https://user-images.githubusercontent.com/7971419/177027934-0cdb6aa5-1da6-43bc-b272-ef0cd98e5755.png">

[2022-07-03 06:36] crazyair commented on #81
package.json
[code]
popup.tsx
[code]

output
[code]

[2022-07-03 06:55] louisgv commented on #81
Derp my bad - sorry @crazyair I understood the problem now! We set the parsed value default to null and thus it introduced a bug. Can you try out @plasmohq/storage@0.6.3

[2022-07-03 07:23] crazyair commented on #81
okey

[2022-07-03 12:06] Aarush-wadhia commented on #71
Hi, @louisgv I need some guidance.
As I can see when we run our `pnpm dev` command `manifest.json` file gets generated and we need to update our `manifest.json` as per the [link](https://github.com/InboxSDK/hello-world/blob/main/static/manifest.json) any suggestions on how to do so?

[2022-07-03 15:13] louisgv opened #82 "[RFC] Support Firefox output"
### How do you envision this feature/change to look/work like?

Output extension bundle for Mozilla Firefox

### What is the purpose of this change/feature? Why?

Some folks use Firefox

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

_No response_

### Verify canary release

- [X] I verified that the issue exists in `plasmo` canary release

### Code of Condu

[2022-07-03 15:21] louisgv commented on #71
@Aarush-wadhia https://docs.plasmo.com/customization#overriding-the-manifest

Also you can check out this example: https://github.com/PlasmoHQ/examples/tree/main/with-web-accessible-resources

[2022-07-03 16:16] louisgv commented on #81
New doc to reflect this: https://docs.plasmo.com/framework-api/storage#specifying-an-initial-value-for-rendering-without-persisting

[2022-07-03 16:16] #81 closed

[2022-07-04 00:46] crazyair commented on #81
try?
[code]

[2022-07-04 01:00] crazyair commented on #81
popup.tsx
[code]
This code is actually unnecessary, because if you don't open the popup window, the content won't get the value

You still need to set `42` in the content

[2022-07-04 06:30] Aarush-wadhia commented on #71
@louisgv something seems to be off I have added all the required code in `package.json`
`"manifest": {
    "host_permissions": [
      "https://*/*"
    ],
    "permissions": [
      "scripting"
    ],
    "content_scripts": [
      {
        "matches": [
          "https://mail.google.com/*",
          "https://inbox.google.com/*"
        ],
        "run_at": "document_end",
        "js": [

[2022-07-04 19:07] louisgv commented on #22
https://discord.com/channels/946290204443025438/946290204904390690/993584437260460125

[code]

[2022-07-06 13:00] crazyair opened #84 "[BUG] Edge 103.0.1264.44 with background.ts is error"
### What happened?

![image](https://user-images.githubusercontent.com/7971419/177555854-05ab98c3-5132-4eb3-8105-fdeb63294c35.png)

### Version

Latest

### What OS are you seeing the problem on?

_No response_

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree t

[2022-07-06 14:48] louisgv commented on #84
Is there any error/stacktrace at all or it simply doesn't show up?

[2022-07-06 14:53] crazyair commented on #84
After upgrading the browser, there is no problem with chrome. I think it is the problem with the new version of edge

[2022-07-06 14:54] #84 closed

[2022-07-07 11:50] Kurolox opened #85 "[BUG] Plasmo won't load React correctly inside content scripts on some scenarios"
### What happened?

Under some particular scenarios (the one I can personally attest to is to import the `react` and `react-dom` dependencies from a local path, rather than from a CDN) plasmo refuses to load React properly inside content scripts.

It fails to mount `<MountContainer>` because it can't find a React instance, and the issue seems likely that the template is not following the React doc

[2022-07-07 15:24] louisgv commented on #85
More context: https://discord.com/channels/946290204443025438/946290204904390690/994599057290956901

[2022-07-07 15:54] #77 closed

[2022-07-07 16:25] louisgv commented on #71
You will need to include the inboxsdk stuffs inside the project. I will leave some comment in the PR

[2022-07-07 16:37] louisgv commented on #71
I think this might be a bit more advanced since it leverages a feature we haven't yet documented for plasmo regarding web-accessible-resources injection.

[2022-07-07 16:57] louisgv commented on #72
yup, this will enable that as well as npm create as well. (you will need to do --with-*)

[2022-07-08 03:31] Aarush-wadhia commented on #71
@louisgv Sure
Once it is taken care of do let me know I would like to work on it more

[2022-07-10 13:41] louisgv opened #90 "[RFC] Support other UI library (react@17, svelte, vue)"
### How do you envision this feature/change to look/work like?

- The user replace react@18 with their preferred UI library into the dependencies list
- Plasmo read the dependencies, and use the proper static scaffolding for this UI
- PROFIT

### Sub-issues

- [x] #91
- [x] #93
- [x] #99

### What is the purpose of this change/feature? Why?

There have been many request from the community asking f

[2022-07-10 13:42] louisgv opened #91 "[RFC] React@17 support"

[2022-07-11 15:44] #91 closed

[2022-07-11 15:46] louisgv opened #93 "[RFC] Svelte@3 support"

[2022-07-11 16:31] louisgv opened #94 "[EXP] with-emotion"
### What is the example you wish to see?

https://emotion.sh/

### Is there any context that might help us understand?

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the [current issues](https://github.com/PlasmoHQ/plasmo/issues) for duplicate problems.

[2022-07-12 04:27] deno-source opened #95 "[BUG] Service worker registration failed"
### What happened?

Service worker registration failed
chrome version:105.0.5148.2

I don't know if I upgraded Chrome or something else caused my background to not work properly

![image](https://user-images.githubusercontent.com/21171308/178408388-aeb2398d-a124-40a5-b2bb-2344d53eff44.png)

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What browsers are you seeing t

[2022-07-12 06:38] louisgv opened #96 "[RFC] Better icon scaling"
### How do you envision this feature/change to look/work like?

We're just using image-js to get it done, so no strong opinion there. The key idea is to have it plainjs, no imagemagick etc... perhaps the configuration we are using for image-js is not producing the best resizing, so maybe someone can play around with it

### What is the purpose of this change/feature? Why?

The downscaled icons (i.

[2022-07-12 07:07] louisgv opened #97 "[RFC] data-env"
### How do you envision this feature/change to look/work like?

Plasmo atm treats all json import and file as plain text, no pre-processing is done.

When a file is imported with `data-env` scheme, it will be parsed as plain-test and env injected.

We can do this in our parcel-resolver, and do it similar to how we fetch remote code.

### What is the purpose of this change/feature? Why?

![image](h

[2022-07-12 14:25] ColdSauce commented on #96
This project seems to be good: https://github.com/lovell/sharp

I'll try it out today

[2022-07-12 19:47] louisgv commented on #95
@deno-source does this error still exist after removing/re-adding the extension?

[2022-07-12 21:13] #93 closed

[2022-07-12 22:22] louisgv opened #99 "Vue@3 support"

[2022-07-13 03:03] deno-source commented on #95
still exist

[2022-07-13 03:09] deno-source commented on #95
I tried to package the file and send it to my colleague's computer for installation and use above, still showing error here

[2022-07-13 04:03] deno-source commented on #95
I guess it has something to do with the version of Chrome that I installed on my computer: the 104.0.5112.20 dev version shows everything is fine.  But this problem seems to be very common in the official release of Chrome

[2022-07-14 04:59] terrainwax opened #101 "[BUG] Can't access to __reactInternalInstance"
### What happened?

I'm trying to acces __reactInternalInstance$ from a HTMLElement

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the

[2022-07-14 23:38] louisgv commented on #101
@terrainwax can you please provide some example code snippet

[2022-07-15 06:44] lolimay opened #102 "[RFC] Web Assembly (Wasm) Support (Integration & Recipes)"
### How do you envision this feature/change to look/work like?

Provide "out-of-box" support for WASM integration.

### What is the purpose of this change/feature? Why?

For some performance sensitive cases, like video encoding/decoding, WASM does matters.

I made a benchmark for base64 encoding/decoding before (rust WASM version is 6X faster than pure JavaScript version on my macbook m1). Another

[2022-07-15 17:56] louisgv opened #103 "[RFC] Target specific entry files"
### How do you envision this feature/change to look/work like?

We parse the template file name and exclude/include only those relevant to the current target.

Given:

[code]

If target is `firefox-mv2`, plasmo picks the `popup.firefox.tsx` entry file.
If target is `chrome-mv3` or `edge-mv3`, plasmo picks the `popup.tsx` entry file.
If target is `safari-mv3`, plasmo picks the `popup.safari.tsx` en

[2022-07-15 18:20] asieduernest12 opened #104 "[BUG] firefox-mv2 Error in invocation of storage.getBytesInUse"
### What happened?

A bug happened!

The below error shows up when the extension is built with any of these commands
 ```pnpm build --target=firefox-mv2```
```pnpm dev --target=firefox-mv2```

#### The error
Error in invocation of storage.getBytesInUse(optional [string|array] keys, function callback): No matching signature.

```pnpm build``` works fine for chrome

I am making use of ```import { us

[2022-07-15 19:13] louisgv commented on #104
Thanks for the bug report - I will submit a patch for this soon.

[2022-07-15 22:29] louisgv opened #105 "[RFC] @plasmohq/auth"
### How do you envision this feature/change to look/work like?

A package that abstract out JWT flow (and other) for extension, allowing secure auth via message passing between background script and other piece of the extension.

Usual flow:

- Auth in popup/option, get and store access-token in bgsw, and invoke API call from a bgsw proxy

### What is the purpose of this change/feature? Why?

This

[2022-07-15 22:30] #90 closed

[2022-07-15 22:30] #95 closed

[2022-07-15 22:37] #23 closed

[2022-07-15 23:34] louisgv commented on #104
Based on this doc: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/storage/StorageArea/getBytesInUse

It seems that method should have been available in firefox, but only in sync area. @asieduernest12 can you verify that you're using `useStorage` with the default are? (sync)

[2022-07-15 23:37] asieduernest12 commented on #104
The issue happens with both area set to sync and local but I will double check..

[2022-07-16 00:09] louisgv commented on #104
@asieduernest12 btw just released a new version 0.8.1 for storage, it will check for the method and break out of the quota checking routine

[2022-07-16 16:29] louisgv commented on #7
After a month of subconscious thinking, the easiest way to accomplish this is to use HTML itself. I think that parsing tsx for tags at the moment requires a bit more research. However, allowing dev to substitute the built-in `index.html` can be done without that barrier. The structure looks like this:

- `popup/index.html` or `popup.html` -> this will be used instead of the built-in `index.html`.

[2022-07-17 00:00] asieduernest12 commented on #104
@louisgv still did not work for me. here is a sample i made to demonstrate the issue
https://github.com/asieduernest12/plasmo-mv2-storage-bug

[2022-07-17 04:05] Basaltic opened #106 "[BUG] "with-devtools" example does not work. Panel canno be loaded correctly"
### What happened?

 The devtool panels shows error:
![image](https://user-images.githubusercontent.com/5652352/179383272-4053edc2-9599-4b5d-bb8a-0fa97c207c00.png)

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

[code]

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [

[2022-07-18 18:11] louisgv commented on #104
@asieduernest12 I can't seem to reproduce :\ - tried both firefox-mv2 and chrome-mv3

[2022-07-19 02:55] Leizhenpeng commented on #96
I am so upset yesterday, no matter what resolution i set for "icon512.png" , the image resize by " image-js " is always blurry like mosaic.....

Luckily, thanks to the interface left to `overriding-the-manifest`, i can temperarilyt fixed it
[code]

[2022-07-19 02:57] Milcery commented on #106
I found that the iframe url has "chrome-extension://bbcimkffjpbiebbogcdglllpmpdcaljk/" in front of it, remove this to display normally
<img width="1216" alt="image" src="https://user-images.githubusercontent.com/90891463/179654281-24e58eeb-5129-48c4-b47a-495bf6a676ad.png">
<img width="1829" alt="image" src="https://user-images.githubusercontent.com/90891463/179654666-8823da2b-8941-4d30-9106-8986cb

[2022-07-19 03:14] Leizhenpeng opened #107 "[BUG] Nested config in manifest override"
### What happened?

I know  the code block manifest:{....} in` package.json` can override the `manifest.json ` ,

but what about the nested config like

[code]

if i only want to  override default_icon  and **NOT affect** "default_popup" like this `package.json`

[code]

 but the final manifest.json is

[code]

is there any suggestion  useful to this nested config override?

### Version

Latest

#

[2022-07-19 10:50] asieduernest12 commented on #104
confirmed it works, i was still using chrome earlier. all is veery good now.
Thank you

[2022-07-19 10:50] #104 closed

[2022-07-19 13:39] louisgv commented on #107
Hmm it should have worked the way you described... (i.e, the nested stuff should be merged accordingly). I will investigate - also regarding the icon swapping, we will likely fix it so that if any smaller icons are provided we will just use them.

[2022-07-19 14:12] louisgv commented on #96
A quick solution would be:

- [ ] Use dev provided smaller icons if available

[2022-07-19 14:14] louisgv opened #108 "[RFC] Use smaller icons if provided instead of scaling"
### How do you envision this feature/change to look/work like?

If there are smaller variant of the icons provided in the assets directory, use them instead!

### What is the purpose of this change/feature? Why?

The current scaling solution doesn't work for some folk who like their icon crisp

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

_No response_

##

[2022-07-19 14:17] #101 closed

[2022-07-19 14:33] louisgv commented on #107
I think the nested manifest override merging is a bit of a pain in the butt in itself. Right now, we're doing a shallow selective merge, and only care about properties we known is needed such as `options_ui`.

I think this falls into clause 1 of https://docs.plasmo.com/customization - we rather abstract away the nested config so it's not even needed in the first place.

There's indeed a bug with h

[2022-07-20 02:51] Leizhenpeng commented on #107
thank U~  [louisgv](https://github.com/louisgv)~
pre-cut icon works fine now in canary version~

[2022-07-20 09:04] xgj1988 opened #111 "[BUG] I cann't run "pnpm dlx plasmo init" command"
### What happened?

When I run pnpm dlx plasmo init ，I get a error .
![image](https://user-images.githubusercontent.com/8272614/179942921-a61778d2-112b-4480-8ac7-e4dec3973ea0.png)

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

[code]

### (OPTIONAL) Contact Details

30756500@qq.com

### C

[2022-07-20 09:58] yipf42 opened #112 "[BUG] how to remove default fonts in popup.html"
### What happened?

A bug happened! A goole fonts injected in popup.html.

![image](https://user-images.githubusercontent.com/7829993/179951671-4dcc9793-83dd-4c2c-915c-302f15ee23d1.png)

I do not need this style and most of my users can not load google fonts.

Why inject this code and how to remove them? I really don`t want to rewrite the html file manually after build

### Version

Latest

### Wh

[2022-07-20 12:19] #112 closed

[2022-07-20 12:28] louisgv commented on #112
BTW @yipf42 are you seeing error if that font is included? I.e, beside the unused code and potential network request error, does the font itself causes the extension to not working at all?

[2022-07-20 13:18] yipf42 commented on #112
crux of the matter is google fonts can't be accessed in my country because of the GFW😭

[2022-07-20 19:23] #107 closed

[2022-07-20 19:23] #108 closed

[2022-07-21 00:02] Leizhenpeng commented on #112
hhh, just remove it in `popup.tsx` if users are `翻不了墙`...

[code]

<img width="360" alt="image" src="https://user-images.githubusercontent.com/50035229/180102540-e8eead96-60c8-4024-9a69-8d3b195fb570.png">

[2022-07-21 15:01] Leizhenpeng opened #114 "[BUG] Introducing css framework will invade the basic style of the original web page In content-ui-"
### What happened?

most css framework such as `tailwind` and `ant` has lots of [pre-flight css file](https://tailwindcss.com/docs/preflight),

Most of  time, they use global wildcards on base styles ,  which makes it easier to handle framework , for example :

[code]

But during browser plug-in development, especial useing css framework in content-ui-inject ,

we need minimal impact on the origin

[2022-07-21 16:13] louisgv commented on #114
Can you elaborate on this? At the moment, the style introduced by getStyle are injected into a shadowDOM - thus, they should be isolated/encapsulated within that area. If the style leak outside of the shadowDOM, it seems more like a tailwind issue with how their preflight CSS managed to bleed outside that frame.

Perhaps you can just disable it: https://tailwindcss.com/docs/preflight#disabling-pre

[2022-07-21 16:45] Leizhenpeng commented on #114
repro link : https://github.com/Leizhenpeng/plasmo_examples/tree/feat-example/with-tailwindcss
branch: feat_example

[code]

after install crx in chrom, u can check it in [douban.com](https://book.douban.com/subject/30339297/)
img element has been pollute by tailiwind pre-flight css

![image](https://user-images.githubusercontent.com/50035229/180268789-73a5a869-74e7-4776-909a-c5aef9b92bcc.png)

[2022-07-21 16:50] Leizhenpeng commented on #114
i  can not just disable preflight css in `tailwind.config.js`, because i still need it in my new inject content-ui (Without these basic styles, there would be serious bugs),

The ideal effect should be scoped effective , not disable it .

[2022-07-21 17:17] Leizhenpeng commented on #114
sorry , i found  it is my problem ...

i did  the wrong thing,... import style.css in other react component which is imported by content-ui
(foolish imitating popup-ui approach .....)

[code]

after delete it , everything is fine in shadow root ~

[2022-07-21 17:17] #114 closed

[2022-07-24 08:41] deno-source opened #115 "[BUG] tilde file path does not work on MacOSX for DNR"
### What happened?

<img width="705" alt="image" src="https://user-images.githubusercontent.com/21171308/180639293-2474c12c-0bb0-4e2a-a03a-0c1cc53a68e8.png">In MAC system, the symbol of ~ will make the script unable to find the path and the compilation fails. No problem under Windows platform

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing

[2022-07-24 16:11] louisgv commented on #115
hmm, I wonder if this is because the resolved path on MAC is not absolute somehow?... Will need to debug this further

[2022-07-24 16:12] louisgv commented on #115
@ColdSauce can you try to replicate this ;d

[2022-07-24 20:21] olhapi commented on #94
@louisgv hey. I've started a project with emotion and plasmo today. I can create an example for it.

[2022-07-24 20:33] olhapi opened #117 "[BUG] Deeply nested content script not working"
### What happened?

I've got an issue in generated by plasmo static code. Initially it may compile correctly, but when I update some nested component, the generated import path becomes like this `"~contents\features\LinkedIn\Sidebar/Sidebar"` instead of `"~contents/features/LinkedIn/Sidebar/Sidebar"` or `"~contents\\features\\LinkedIn\\Sidebar/Sidebar"`

Thats probably windows only related problem

[2022-07-24 22:14] louisgv commented on #117
Fascinating. This is an edge case we haven't thought of yet - i.e, deeply nested content scripts directory. We will need to normalize the import path for the csui import statement

I will get a fix out soon, but just note that deeply nested directory in `contents` is untested, so use with caution and please report bug :D

[2022-07-24 22:20] louisgv commented on #94
@olhapi please do :)

[2022-07-24 22:44] louisgv commented on #117
@olhapi can you test with `plasmo@canary` and see if this error still occurs? Thanks!

[2022-07-24 22:45] louisgv commented on #115
@deno-source can you try with just `~src/rules`?

[2022-07-25 02:51] deno-source commented on #115
The problem still exists, but the path starts from my user home directory,

[2022-07-25 03:02] deno-source commented on #115
I use "path": "~rules/csrf.json" can run successfully on MacOS, but other team members will report errors on Windows operating system.

[2022-07-25 05:12] asieduernest12 commented on #42
omg

you are a real world hero

[2022-07-25 08:59] flashclub opened #119 "[BUG] show a Errors when use Storage in background"
### What happened?

Enter demo code in `background.ts` file:
[code]
the extensions report an error: `Uncaught SyntaxError: Unexpected reserved word`

![image](https://user-images.githubusercontent.com/30818149/180738747-f794df5e-cca0-4d50-9c28-2ec1d0db1464.png)

![image](https://user-images.githubusercontent.com/30818149/180738832-88b356a2-4f50-48fe-bd2e-3a9eb08ebf38.png)
expect to happen:
no erro

[2022-07-25 11:34] flashclub commented on #119
I solved this problem by using await storage.get(key) instead of top level or constructor in the concrete function.

[2022-07-25 11:35] #119 closed

[2022-07-25 12:09] olhapi commented on #117
@louisgv just tested with canary version and the issue is there. Here's how import path looks like:
`import * as RawMount from "~contents\linkedin"`

That's why my guess is that has something to do with windows, rather than nested directories. Because like you know `C:\Users\username\plasmo\contents` is a normal directory path in windows, but in typescript it won't work because `\` is escape chara

[2022-07-25 12:18] olhapi commented on #117
also the problem persists even after I've moved all imports right to content script

[2022-07-25 16:41] louisgv commented on #117
@olhapi can you pls try again. Just pushed another fix. Apparently I mistook what path.normalize does for each platform xd...

re: https://github.com/nodejs/node/issues/12298

[2022-07-25 16:49] olhapi commented on #117
@louisgv just checked, seems like the imports are working fine now, thanks mate

another issue arise though 😁 content script mounted twise, one in a location I've set with `getRootContainer` and another instance in a default one (before body)

[2022-07-25 17:32] louisgv commented on #117
Do you have 2 different content scripts? Would like to see the basic structure of your project

[2022-07-25 17:35] olhapi commented on #117
I'll let you know in an hour or so. Maybe it's some cache issue from
previous version or something.

On Mon, Jul 25, 2022, 20:33 L ***@***.***> wrote:

[2022-07-25 18:13] #7 closed

[2022-07-25 18:13] #117 closed

[2022-07-25 18:23] olhapi commented on #117
@louisgv it was cache from previous version, nevermind. Thx a lot for quick fix!

[2022-07-26 01:05] louisgv commented on #94
Done in: https://github.com/PlasmoHQ/examples/pull/13

[2022-07-26 01:05] #94 closed

[2022-07-26 01:53] louisgv commented on #71
@Aarush-wadhia can you please test out: https://github.com/PlasmoHQ/examples/tree/main/with-inbox-sdk

You will need to create an `.env` file, and create an inbox-sdk appID: https://www.inboxsdk.com/

[2022-07-26 02:18] Aarush-wadhia commented on #71
@louisgv sure let me do so

[2022-07-27 14:37] louisgv commented on #115
I don't think so imo, since the resolved path should be normalized. Can you verify this is the case?

[2022-07-28 03:06] #103 closed

[2022-07-28 08:36] wong2 opened #121 "[RFC] @plasmohq/csui"
### What is the example you wish to see?

I'd like to learn how to use Content Script UI with SPA pages. (They use history APIs to do client side routing).
The naive solution seems only mount on page load, no mount happens after client side navigating.

### Is there any context that might help us understand?

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduc

[2022-07-28 13:42] louisgv commented on #121
Interesting. Can you elaborate on the problem of SPA page navigating that causes the mount to be lost?

Note that getMountPoint can be an async function and you can make it await.

Also CSUI should still be mounted on the page imo, but might be invisible. Check the DOM tree

[2022-07-28 13:42] #9 closed

[2022-07-28 13:47] wong2 commented on #121
I think async `getMountPoint` doesn't help here.
The problem is like this:
I'm using `getRootContainer` to mount the CSUI to a DOM element in the webpage, it works on the page load. Then I click some link in the page, which makes a client side routing to another page, so the previous mounted element did not exist anymore. What I need is some way to trigger the mounting logic again, after client si

[2022-07-28 13:47] wong2 commented on #121
I think async `getMountPoint` doesn't help here.
The problem is like this:
I'm using `getRootContainer` to mount the CSUI to a DOM element in the webpage, it works on the page load. Then I click some link in the page, which makes a client side routing to another page, so the previous mounted element did not exist anymore. What I need is some way to trigger the mounting logic again, after client si

[2022-07-28 14:06] louisgv commented on #121
That's the key reason why it's easier to mount the shadowDOM outside in the body (using that default root container) than mounting it into a temp DOM element rendered by the SPA. Try using getMountPoint instead, you will find that the csui will not be removed upon SPA transition /Re-render.

You can certainly try to find some kind of indicator from the underlying site (an event or some sort) to re

[2022-07-28 14:11] wong2 commented on #121
Hi, I've tried getMountPoint, but I don't know how to make it work. The shadow DOM is there, but CSUI is not(because the element it mounted to have been removed. I have to be remounted again.

I don't see such an API exposed by plasmo?

[2022-07-28 20:25] louisgv commented on #121
Note that when using getMountPoint, you need to comment out getRootContainer (to use the default one)

It'd be specialized to your use-case - the idea is you would re-implement the createRoot logic.

[2022-07-28 21:54] cdaringe opened #122 "[EXP] All - How to run examples"
### What is the example you wish to see?

https://github.com/PlasmoHQ/examples are missing instructions on how to run examples.

Nested package.jsons use pnpm workspace syntax, but no such workspace is defined in the repository root

### Is there any context that might help us understand?

- i wanted to run the `with-background` example, as I've found that my version of plasmo (latest) is not gene

[2022-07-28 21:55] cdaringe commented on #122
i see, i just saw that you use git submodules from the plasmo repo

[2022-07-28 22:24] cdaringe opened #123 "[BUG] background scripts not processed"
### What happened?

- `with-background` example includes no background script in the built output
- follow the `contributing.md` guide
- run `cd examples/with-background/ && pnpm run build`
- `build/chrome-mv3-prod/manifest.json` and study the build assets. observe no `background` related content

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you se

[2022-07-28 22:33] cdaringe commented on #123
looks like `getIndexList` may be borked for background scripts. dumping that to JSON:

[code]

non of those have the form `background.ts`

[2022-07-29 02:54] wong2 commented on #121
Yeah, of course I removed `getRootContainer` entirely.

I think Plasmo could add some API to simplify the remount logic here.

[2022-07-29 13:01] Aarush-wadhia commented on #71
@louisgv I am getting this error it seems there are some changes required can you guide me on what exactly should I do to resolve this error?
` ERR_PNPM_NO_MATCHING_VERSION_INSIDE_WORKSPACE  In ../with-background: No matching version found for @plasmohq/prettier-plugin-sort-imports@* inside the workspace`

[2022-07-29 15:33] louisgv commented on #122
@cdaringe yes - to run all the example, you will need to clone this whole repo and also its sub-module.

In term of initializing a new project with the example as scaffold - see #72

[2022-07-29 15:34] #122 closed

[2022-07-29 15:34] #123 closed

[2022-07-29 15:52] louisgv commented on #121
Got it - I think we will think of an API for that. This is likely related to #22

[2022-07-29 15:54] louisgv commented on #71
@Aarush-wadhia can you make sure your repo is pulled to latest (according to PlasmoHQ remote), and ensuring there's no change before running `pnpm i`?

[2022-07-30 06:03] Aarush-wadhia commented on #71
@louisgv it is working the way we expect it to work
Take a look at the screenshot below
<img width="600" alt="Screenshot 2022-07-30 at 11 31 01 AM" src="https://user-images.githubusercontent.com/45955091/181877067-2fc3936e-dfc0-4f3d-b85a-5d2016404c90.png">

[2022-07-30 07:11] louisgv commented on #71
Awesome, thank you @Aarush-wadhia :D

[2022-07-30 07:11] #71 closed

[2022-08-02 19:52] louisgv opened #126 "[RFC] parcel-plasmo-transformer"
### How do you envision this feature/change to look/work like?

Transform the `manifest.json` using our own transformer

### What is the purpose of this change/feature? Why?

Time to fork and get it over with 🔫

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

_No response_

### Verify canary release

- [X] I verified that the issue exists in `plasmo` canary r

[2022-08-04 11:41] fajrizulfikar commented on #22
Hi, I'm interested in this snippet. Can you kindly explain how you can import that `GmailItem` component? Because on my end I'm not able to use the imported react component.

[2022-08-04 23:26] louisgv commented on #22
Can you provide a reproduction? Make sure your csui file is a `tsx` file

[2022-08-08 12:14] Kurolox opened #128 "[BUG] Plasmo refuses to work with relative imports in package.json"
### What happened?

Starting since v47, it seems like Plasmo will refuse to work if the `react` dependency is declared as a relative import in the `package.json` file.

### Version

Latest

### What OS are you seeing the problem on?

Linux

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

[code]

### (OPTIONAL) Contact Details

contact@carlosg.dev

### Code

[2022-08-08 18:27] louisgv commented on #128
This was done in https://github.com/PlasmoHQ/plasmo/releases/tag/v0.47.1 to support other UI library scaffolding. Is there a way to check the version of the react package coming from relative path like in your project? At the moment, plasmo assume semver so it parse and throw error. We can def read the package.json at the location of the import path, and try to get the version number there?

I'm t

[2022-08-08 18:27] #115 closed

[2022-08-08 19:56] louisgv commented on #128
@Kurolox can you try canary and see if the issue get resolved?

[2022-08-09 06:38] Kurolox commented on #128
I've just tried it, unfortunately I'm facing a different error now.

[code]

[2022-08-09 08:09] crazyair opened #130 "[BUG] Edge background Service Worker"
### What happened?

![image](https://user-images.githubusercontent.com/7971419/183598187-683f9834-4d14-4e6f-ab89-27b1c8959978.png)

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Microsoft Edge

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to foll

[2022-08-09 08:11] crazyair commented on #130
![image](https://user-images.githubusercontent.com/7971419/183598805-8b16980e-4741-4fd9-bef5-08e19425b5ca.png)

[2022-08-09 13:46] louisgv commented on #128
@Kurolox can you try again (reinstall canary), it should be `alpha.3`

[2022-08-09 13:47] louisgv commented on #130
@crazyair can you provide a reproduction, or is this what edge shows with just an empty background script?

[2022-08-09 13:56] Kurolox commented on #128
Now it works properly! But I have an issue, which might be unrelated.

Now everything seems to work properly, however under the built files the manifest file is called `chrome-mv3.plasmo.manifest.json`, rather than `manifest.json`, so Chrome isn't able to load the unpacked extension until I manually rename the manifest file.

I don't really think that it's related to this current issue, but I'd lo

[2022-08-09 16:04] louisgv commented on #128
Argh! I'm on it rn

[2022-08-09 22:58] louisgv commented on #128
@Kurolox try latest canary! Just found the issue with how parcel bundle naming mechanism work.

[2022-08-09 22:59] #126 closed

[2022-08-10 01:03] crazyair commented on #130
yes, `examples/with-background`

[2022-08-10 02:40] asieduernest12 opened #131 "[BUG] import.meta failing firefox submission check"
### What happened?

A bug happened!
firefox submission fails if i import svg icons using
`import "url:./../assets/some-icon.svg"`

firefox store throws an error when the extension is submitted.
the import line above results in `import.meta` injected into bundled code for popup.tsx.

I have solved this by including the svg relative path in manifest.json and then obtaining the url using `chrome.runt

[2022-08-10 06:37] Kurolox commented on #128
Latest canary works flawlessly! Thanks for all the effort in fixing this

[2022-08-10 06:55] crazyair opened #132 "[BUG] Command failed with signal "SIGSEGV"."
### What happened?

`pnpm dlx plasmo init`
`yarn dev`

![image](https://user-images.githubusercontent.com/7971419/183835017-9cf31518-72a5-44c9-9dbf-6f51de4b3e60.png)

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Microsoft Edge

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Cod

[2022-08-10 06:55] crazyair commented on #132
`node -v v16.15.1`
`pnpm -v 6.32.2`

[2022-08-10 07:00] #132 closed

[2022-08-10 17:08] #128 closed

[2022-08-10 17:47] louisgv opened #133 "[RFC] Expose target and browser to process.env"
### How do you envision this feature/change to look/work like?

[code]

### What is the purpose of this change/feature? Why?

https://discord.com/channels/946290204443025438/1006923584142315542/1006923592069554176

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

_No response_

### Verify canary release

- [X] I verified that the issue exists in `plasmo` canar

[2022-08-11 05:10] pftom opened #134 "[BUG] Inject script to main world in content script report "reading 'lastError'""
### What happened?

I want inject a script to "main" world use content script like this:

[code]

It's works in normally domain, like `github.com` (Already add to `match` in content-script and web_accessible_resources`)

and my `afterContentScript.js` just following simple code:

[code]

then I open github.com, can find `arr` in console.

But it's weired when I use this injected code to `localhost

[2022-08-11 12:54] louisgv commented on #134
Can you provide a reproducible repository?

[2022-08-11 13:10] louisgv commented on #130
![image](https://user-images.githubusercontent.com/6723574/184140871-5ea8ca8b-15fc-4aa0-adda-c16d572f53d0.png)
Works fine for me

[2022-08-11 13:10] #130 closed

[2022-08-11 19:04] asieduernest12 commented on #131
There's a linter that is blocking it. They run the submission through the linter automatically.

 There a Mozilla support thread on it where I guess a senior staff probably made a fix to allow the linter allow import.meta from a long time ago

But the linter still rejected my code submission

[2022-08-11 19:07] asieduernest12 commented on #131
This is a link of the issue on Mozillas Github

https://github.com/mozilla/addons-linter/issues/3639

[2022-08-11 21:04] louisgv commented on #131
Another way to work around this IMO, is to use the `data-base64:` scheme and consume the SVG inside the source code instead of as an asset

[2022-08-11 21:07] louisgv commented on #131
But I think we can close this for now as this is not a Plasmo issue per-se, but a good pre-cautious for folks publishing to Mozilla store

[2022-08-11 21:07] #131 closed

[2022-08-12 20:55] #80 closed

[2022-08-16 17:01] #133 closed

[2022-08-16 19:04] #97 closed

[2022-08-17 00:06] #121 closed

[2022-08-17 03:43] ptim commented on #28
Thanks for Plasmo!

FYI for some reason when I relocate the [with-devtools](https://github.dev/PlasmoHQ/examples/blob/main/with-devtools) example into `src/` following https://docs.plasmo.com/customization#using-the-src-directory-for-source-code, then I get the following build error:

[code]

which is resolved by using a relative rather than aliased import path like:

[code]

I wonder if this has

[2022-08-17 15:17] louisgv commented on #28
@ptim thanks for the report - I will update the example to use relative import rather than tilde resolve!

[2022-08-18 06:34] javaswing commented on #134
@louisgv  I also had the same problem.  Later, I will provide a reproducible repository. This Question  appear only in dev model.  When inject script the nested iframe in page. I guess it has something to do with HRM.

![image](https://user-images.githubusercontent.com/7713463/185309132-3f24d195-e278-47b3-895c-706444a4a00b.png)

[2022-08-20 16:17] vantezzen opened #140 "[BUG] Plasmo >=0.51.0 uses MV3 web_accessible_resources syntax in MV2?"
### What happened?

While trying to build an extension to firefox-mv2, chrome-mv2 and chrome-mv3, it looks like Plasmo uses the MV3 syntax for web_accessible_resources in MV2 manifests.

Running `plasmo build --target=firefox-mv2` results in:
[code]
instead of
[code]

This results in browsers throwing this error:

<img width="485" alt="Screenshot 2022-08-20 at 18 06 47" src="https://user-images.gi

[2022-08-20 16:18] hijiangtao opened #141 "[QA] The Discord link is invalid"
### What happened?

The link of plasmo's community post in README is already invalid https://discord.com/invite/8rrxVYYtfd

### Version

Latest

### What OS are you seeing the problem on?

_No response_

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow

[2022-08-20 17:43] louisgv commented on #140
Investigating soon, I'm travelling this weekends. I made a minor change to how web accessible resources is processed to fix #80 back in 0.51, but apparently internally it returns the wrong format? :/

[2022-08-20 17:53] louisgv commented on #141
I've asked a couple of friends to try the url, it's still working. Are you sure nothing is blocking your browser from seeing it :-?

[2022-08-20 21:54] louisgv commented on #140
@vantezzen can you try out canary and see if it's fixed

[2022-08-21 02:24] crazyair opened #143 "[BUG] less not support ~"
### What happened?

index.less content `@import '~antd/dist/antd.less';`

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Microsoft Edge

### Relevant log output

[code]

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the [current is

[2022-08-21 03:17] javaswing commented on #143
You can try `@import "antd/dist/antd.less";`

[2022-08-21 04:15] crazyair commented on #143
xxxxx package insert  `@import "antd/dist/antd.less"`
[code]

[code]

[2022-08-21 04:18] belarusrulez commented on #141
![image](https://user-images.githubusercontent.com/1071191/185775314-4449d522-19da-4dc4-8050-abc68c75d11c.png)

[2022-08-21 04:54] crazyair commented on #143
https://github.com/parcel-bundler/parcel/issues/907#issuecomment-503913211
parcel is support`~`

[2022-08-21 05:04] belarusrulez opened #144 "[RFC] Support emitDecoratorMetadata"
### What happened?

Hey. Thank you for framework and support.

Version 0.52

Steps:

Create new project
[code]

when ```pnpm dev``` is still running change tsconfig.json. for example add ```"experimentalDecorators": true,
    "emitDecoratorMetadata": true,```
it will not compile js and nothing will be added to the bundle anymore.
even if you delete this project and create with the same path issue

[2022-08-21 05:53] belarusrulez commented on #144
https://github.com/belarusrulez/rrt
here is example that wont generate js for me.

[2022-08-21 07:45] hijiangtao commented on #141
@louisgv I checked it and it didn't work in a brand new browser, the page gave me a link to https://support.discord.com/hc/en-us/articles/360001556852-Invalid-Invite-Links for more info and I think it's the link itself invalid caused the problem.

ps: This is the first time I joined the discord group, I don't know if the friends you asked had already joined it before?

[2022-08-21 08:51] vantezzen commented on #140
Yes looks like it's fixed in canary now!

[2022-08-21 09:34] louisgv commented on #141
can you try this new invite: https://discord.gg/du9mJabQmn

[2022-08-21 10:21] louisgv commented on #143
@crazyair just tried, this example, it seems to work for me? https://github.com/PlasmoHQ/examples/tree/main/with-ant-design

[2022-08-21 10:23] crazyair commented on #143
`~` It is used in the external package.

[2022-08-21 10:24] louisgv commented on #143
can you give me the project you're trying to use? Or is it antd itself?

[2022-08-21 10:29] louisgv commented on #143
Also, if they use `~` internally, that project should really bundle their style instead of exporting raw less (i.e, you should use the css file as end-user). I don't see the benefit of using less that way - bundle is the same?

[2022-08-21 10:29] crazyair commented on #143
You can install `@ant-design/pro-components` in `with-ant-design`

[2022-08-21 10:33] louisgv commented on #144
Try it with just `"experimentalDecorators": true`. SWC (the internal bundler) doesn't support `emitDecoratorMetadata` since that requires parsing the type. There're two things you can do:

1. Create your decorator projects that exports its metadata type outside of the plasmo project and import it as dependency
2. Don't use the decorator metadata

[2022-08-21 10:36] crazyair commented on #143
demo: https://github.com/PlasmoHQ/examples/pull/15

[2022-08-21 10:53] louisgv commented on #143
This is a "missing feature" within Parcel's less transformer: https://github.com/parcel-bundler/parcel/blob/v2/packages/transformers/less/src/LessTransformer.js#L115 OR more likely, inconsistency with parcel's definition of the `~` tilde path.

Some potential solutions:
1. Fix the less transformer linked above to parse internal `~` from `node_modules` (do a package.json lookup to ensure it always

[2022-08-21 10:57] louisgv commented on #143
NOTE: These examples you're referencing uses `parcel@1.x` (same with the antd example). As of 2.x, parcel has its own definition of `~` and thus broke this less feature.

[2022-08-21 10:58] #140 closed

[2022-08-21 10:58] crazyair commented on #143
Deleting `~`, an error will be reported

[code]

[2022-08-21 11:14] louisgv commented on #143
Do you have the lessrc option in your project?

[2022-08-21 11:16] crazyair commented on #143
The main project has, but the external project does not

[2022-08-21 11:17] louisgv commented on #143
Can you do a bundling of the external project into some plain component, and just import the output inside plasmo and use it that way then?

[2022-08-21 11:22] crazyair commented on #143
how?

[2022-08-21 11:33] louisgv commented on #143
Create a sibling-level project to your extension project, compile them with webpack (or any bundler that has the behavior described), then import them into the plasmo project.

https://lesscss.org/features/ <- based on this, I confirm the tilde resolve you're referencing from antd-pro is not a thing in less, and is only a thing within antd's webpack configuration (and maybe the webpack ecosystem?)

[2022-08-21 11:35] louisgv commented on #143
Also, don't use the `es` version in that bundle, use the cjs version

[2022-08-21 11:36] crazyair commented on #143
Why? We currently require the use of ES

[2022-08-21 11:37] louisgv commented on #143
Why would that matters for a dependency?

[2022-08-21 11:38] crazyair commented on #143
Only one path is referenced， lib or es.

[2022-08-21 11:40] louisgv commented on #143
you can import directly

[2022-08-21 11:42] crazyair commented on #143
I've tried everything but still haven't solved it 😭

[2022-08-21 11:43] crazyair commented on #143
no dist，need change  less variable

[2022-08-21 11:47] louisgv commented on #143
[code]

^ There's a dist directory if you installed the specific `pro-card` package

[2022-08-21 11:49] louisgv commented on #143
have you tried hacking the less transformer? Basically, make it align with the way webpack bundle less source as antd. Also I have no idea how other project uses antd-pro unless they have a similar webpack bundler OR postcss plugin to reconfigure those paths.

[2022-08-21 11:50] crazyair commented on #143
No problem with webpack or umi

[2022-08-21 11:54] louisgv commented on #143
@crazyair in Umi for it to work with latest antd-pro, you also need to hack up the less path on webpack config:

https://v3.umijs.org/guide/upgrade-antd-pro-to-umi-3#%E9%85%8D%E7%BD%AE%E5%B1%82%E8%BF%81%E7%A7%BB

So yeah for it to work with parcel, you will need to play around with the less transformer as well and maybe handle the antd special case, OR if antd managed to make their convention wide

[2022-08-21 11:56] crazyair commented on #143
How is parcel configured and can it be built-in?

[2022-08-21 11:57] louisgv commented on #143
Yes, see this comment: https://github.com/PlasmoHQ/plasmo/issues/143#issuecomment-1221521594

[2022-08-21 12:07] crazyair commented on #143
Second, I've tried, but I can't

[2022-08-21 12:25] belarusrulez commented on #144
thank you for advice. if I remove this part of config my build is still broken and doesn’t generate js file. the only thing that helps is to create new project directory (with new path)

[2022-08-21 13:46] hijiangtao commented on #141
@louisgv thanks, it works!

[2022-08-21 18:28] #141 closed

[2022-08-21 19:28] louisgv commented on #144
Also likely a typescript peer dep issue.

See: https://github.com/thiagobustamante/typescript-ioc/issues/90

The IOC package you're trying to use relies on ts@3.x. You have 2 options:
1. Compile your models/utils code into a standalone CJS bundle that can be imported into Plasmo
2. Fix typescript-ioc and upgrade it to ts@4.x

[2022-08-21 19:28] #144 closed

[2022-08-21 22:42] nahtnam opened #145 "[BUG] Invalid React Version"
### What happened?

Looks like `semver` doesn't support `^` syntax
[code]

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

[code]

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the [current issues](h

[2022-08-21 22:43] louisgv opened #146 "[RFC] Support VSCode extension"
### How do you envision this feature/change to look/work like?

- Provides a `vscode.ts` OR `vscode/index.ts`
- Specifies target as `vscode` OR `vscode-{vscode-verson}`
- Dev can also export a `config` variable with all the typing needed for vscode (that has all the missing pieces of extension coming from the vscode extension manifest: https://code.visualstudio.com/api/references/extension-manifes

[2022-08-21 22:52] louisgv opened #147 "[RFC] Initialize a Plasmo project from an existing extension manifest"
### How do you envision this feature/change to look/work like?

- `pnpm create plasmo` OR `pnpm dlx plasmo init` OR `plasmo init` inside a directory with a `manifest.json` file
- plasmo takes the manifest and determine if it's MV2 or MV3.
  - If MV3, it keeps the basic structure and convert most of the config into the `package.json`
  - If MV2, it convert the manifest into mv3 and throw them into

[2022-08-21 23:03] louisgv commented on #146
Likely will use esbuild - this will be the first step to integrate it into the plasmo toolchain

[2022-08-21 23:27] louisgv commented on #147
Would be cool if we can convert all the extension in https://github.com/mdn/webextensions-examples into plasmo, effectively solving https://github.com/mdn/webextensions-examples/issues/496

[2022-08-21 23:33] louisgv commented on #102
Watch this repo: https://github.com/PlasmoHQ/with-wasm-zig

We're learning zig boiiii (and zig -> wasm too kek)

[2022-08-21 23:35] louisgv commented on #102
Once the setup is done, if it's lean enough we might just throw it in our `examples` repo. For now, I'm just experimenting with zig for fun.

[2022-08-22 01:44] sunui opened #148 "[RFC] About `fonts.googleapis.com/css2` in template"
### How do you envision this feature/change to look/work like?

No external network resource access

### What is the purpose of this change/feature? Why?

Framework should be completely static , should not access network resource. It may cause slow in areas with network problems .

### (OPTIONAL) Example implementations

I found this [](https://github.com/PlasmoHQ/plasmo/tree/f50f553b203d66e26d70e

[2022-08-22 16:11] louisgv commented on #148
Please upvote this if anyone else also having the same concern. If the demand for the removal of the font is high, we will remove it in the next version :P (I kept it there bc it's convenient for my own project :d)

[2022-08-23 12:41] #145 closed

[2022-08-24 11:36] hijiangtao opened #150 "[RFC] Support inline bundle for extension's executeScript API"
### How do you envision this feature/change to look/work like?

Once I define an inject method with following codes:

[code]

The test can be called when I send message from content scripts, but the code runs with errors, which shows `t` is undefined.

I think if we can bundle the test and it's dependencies into one inline function, then when the `window.onmessage` is called, all codes inside can

[2022-08-24 13:38] belarusrulez opened #151 "[BUG] Background Service Worker loses states on hot reload"
### What happened?

Hello.
Background script keeps loose state due to reloads.
I save some data in static vars or in classes parameters but because of reload it get's lost.
If I use production build everything works. With dev I have problems.

Is there a way to disable hot reload?
Thank you.

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing

[2022-08-24 14:11] hijiangtao opened #152 "[RFC] Support of background(.tsx) UI"
### How do you envision this feature/change to look/work like?

Currently, plasmo support popup.tsx, content.tsx and newtab.tsx, however, there are many cases that we need a separate UI page (which is background page defined in manifest), we can write manifest like this to define a background page:

[code]

then we can visit it via url like `chrome-extension://EXTENSION_ID/background.html`, maybe

[2022-08-24 14:22] hijiangtao commented on #152
Sorry to bother you guys, I misunderstood the concept of `option page` to `background page`. :-)

[2022-08-24 14:22] #152 closed

[2022-08-24 16:15] belarusrulez commented on #151
![image](https://user-images.githubusercontent.com/1071191/186469865-cad74ad5-bba9-46d0-8198-096341351bea.png)
public static readonly csReadyListeners: Set<Function> = new Set<Function>;
so basically it get's reloaded in the middle of logic and looses it's state
if I don't use dev env and use prod logic works and state is preserved

[2022-08-25 02:01] belarusrulez commented on #151
<img width="1217" alt="image" src="https://user-images.githubusercontent.com/1071191/186557160-c27381e5-9b45-4de0-b205-82d9669908ad.png">
One more thing. If I kill pnpm dev it still reloads.

[2022-08-25 10:55] ColdSauce commented on #151
Hi @belarusrulez, thanks for your detailed report! Apologies for the delay, it's been quite a busy week for us.

Are you using MV2 or MV3? With MV3 you shouldn't have any expectations that the background service worker will stay alive and therefore it should be stateless.

Even without HMR, the background service worker has a fixed lifetime and will die when you don't expect it to, in production.

[2022-08-25 11:01] ColdSauce commented on #150
Thanks for the RFC! Agreed!

It's something we've been thinking about. We'll likely have to write a Parcel plugin that bundles everything correctly before the script gets injected.

[2022-08-25 11:18] ColdSauce commented on #150
Thanks for the RFC! Agreed!

It's something we've been thinking about. We'll likely have to write a Parcel plugin that bundles everything correctly before the script gets injected.

[2022-08-25 12:06] belarusrulez commented on #151
Hey. Its MV3. It actually dies in the middle of code. It’s not idle when it’s get reloaded.

[2022-08-25 12:12] ColdSauce commented on #151
Oh, that's not great. Thanks for the context. We'll take a look soon

[2022-08-26 03:40] hijiangtao opened #153 "[EXP] with-message-passing"
### What is the example you wish to see?

Because of the restriction of chrome API for extension's development, many cases should use "message passing" to achieve some goals, the messages is sending and getting between content script, popup page, background script and MAIN environment, etc.

I think an example on demonstrating how to send & get messages in a chrome extension development cycle is n

[2022-08-26 03:48] hijiangtao commented on #150
Thanks! It could help developers focus on coding the logics a lot if it can be done by parcel plugins, maybe specify certain files or certain export modules, just like `getStyles`, etc.

[code]

Just give some ideas on my thoughts about the scenario, I'm really looking forward to it.

[2022-08-26 09:23] Kurolox opened #154 "[BUG] MV2 target doesn't support content_security_policy override"
### What happened?

When using the `--target=firefox-mv2` target for building a Plasmo project, if the `package.json` file contains a `content_security_policy` override, the build will fail silently (assumedly due to the [different syntax between MV2 and MV3 manifests](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/content_security_policy#manifest_v2_syntax))

[2022-08-26 21:44] belarusrulez commented on #151
<img width="385" alt="image" src="https://user-images.githubusercontent.com/1071191/186994588-58014f47-df1a-48f9-ab1b-830a792e4c8a.png">
I found if I just remove selected "auto-reload.12a1e065.js" from manifest I don't have problems.

BTW I was trying to get the code and fix it contribution guidelines https://github.com/PlasmoHQ/plasmo/blob/main/.github/CONTRIBUTING.md and I was not able to pull.

[2022-08-27 01:55] louisgv commented on #151
Can you paste the command you used to clone? To build the whole project, you will need to get the sub-module as well (since we hoist all our lockfiles to the top)

[2022-08-27 14:56] louisgv commented on #154
This fix will play nicely with #147

[2022-08-27 15:07] louisgv commented on #150
Try using the `data-text:` scheme. You would do it like this:

[code]

The result would be a cjs bundled code, ready to be run via the executeScript API (you pass it in as a string argument). Experiment with it and let me know if it work :D

[2022-08-27 15:11] louisgv commented on #153
This will be the end result of #76 I think

[2022-08-27 15:32] neotan opened #156 "[BUG] The elements of the Content felt behind the element of host website with high z-index"
### What happened?

### Description
The elements of the Content felt behind the element of host website with high z-index.

### Expected result
![image](https://user-images.githubusercontent.com/10399087/187035825-749f53cc-5c17-40a1-96cd-d2029c32b8ac.png)

### Actual result
![image](https://user-images.githubusercontent.com/10399087/187035797-ad322fa8-306b-4371-96ea-dde18674264f.png)

### Version

[2022-08-27 16:32] neotan commented on #156
override the `id` style can fix it:

[code]

[2022-08-27 21:25] louisgv commented on #156
I think the proper solution to this might be to use the "top-layer" concept recently introduced by chrome. Perhaps we should really fix that z-index to be even more ridiculously high lol

@neotan thanks for the PR btw. I think we can def use it :)

[2022-08-27 21:31] #156 closed

[2022-08-27 22:03] #154 closed

[2022-08-28 03:16] belarusrulez commented on #151
I tried
```git clone git@github.com:belarusrulez/plasmo.git --recurse-submodules```
and
```git clone git@github.com:PlasmoHQ/plasmo.git --recurse-submodules```
It gives

Cloning into 'plasmo'...
git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

also I tried the same with http

[2022-08-28 03:17] belarusrulez commented on #151
also I tried the same with https:

[code]

[2022-08-29 06:05] hijiangtao commented on #153
@louisgv That sounds great, I think the RFC is the thing I want, and I think the issue can be close.

[2022-08-29 06:27] hijiangtao commented on #150
@louisgv It seems `func` parameter passed to the API should1 only be a function, and it will be transfer to a IIFE function and be executed:

[code]

However, I think your idea may solve the problem since injectedCode is all bundled into a file at all? I find a parameter called `files` that exists in  executeScript API, it receive a file path but I don't know if the `data-text` like usage is suppo

[2022-08-29 13:04] louisgv commented on #153
@hijiangtao we will keep this issue open for after that RFC, as this is a request for an example, which I think is a valid one!

[2022-08-30 08:33] light-star commented on #151
If the src of the iframe in the tab is changed, the background will also be reload.
The content of the current page will become invalid.
The reason is also caused by autoreload.js built automatically.
`npm run build` no problem
![image](https://user-images.githubusercontent.com/31688824/187389156-181e9a75-6384-492f-9730-f055b0f9409c.png)

[2022-08-30 11:26] louisgv opened #158 "[RFC] stable name for extension page"
### How do you envision this feature/change to look/work like?

Abolish the hash for known extension pages.

This applies to `popup.html`, `options.html`, `newtab.html`, and `devtools.html`

### What is the purpose of this change/feature? Why?

The idea for the hash in parcel was to avoid duplicated name, however there are pages where user prefer to have stable name.

Main reason for stable name a

[2022-08-30 17:56] louisgv opened #159 "[BUG] Missing type for some new scheme"
### What happened?

The following types scheme are missing:

[code]

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the [current issues]

[2022-08-30 22:34] holdenmatt opened #161 "[EXP] Add `with-css-module` example"
### What is the example you wish to see?

It would be helpful to have an example of using CSS Modules, like `with-css-modules`.

My understanding from discussion in Discord is they should work using Parcel under the hood, but I'm not sure what configuration (if any) is needed to make Parcel build them in the right way.

Having a simple minimal example of a React component styled with a CSS module

[2022-08-31 01:30] louisgv opened #162 "[RFC] plasmo.config.ts"
### How do you envision this feature/change to look/work like?

Support a typed configuration file, mainly for manifest override, and other cool stuffs (?).

- Override build destination paths
- Override entry file paths (https://discord.com/channels/946290204443025438/1022829061476728852/1022829065826205706)
- Override manifest file (WITH TYPING!)
- Compose CSP with typing/linting than just raw s

[2022-08-31 03:27] gitpash opened #163 "[RFC] icon*.development.png"
### How do you envision this feature/change to look/work like?

Currently I'm having this issue: need to have 2 version of same extension for stg|prod, mostly I can be done with .env feature, but some assets are hard to do this way. In case if your extension need to have 2 different `icons512.png` for stg|prod - it is quite hard to achieve. After discussing it a bit in Discord with @louisgv I may

[2022-08-31 17:28] #159 closed

[2022-08-31 17:31] louisgv commented on #102
@lolimay the zig experimentation is done for stage 1. Feel free to checkout the repo linked above. I noted a tons of work that we can do to improve the DX for zig <-> ts (via wasm). If anyone would like to help out, pls chime in on the discord :D

[2022-09-01 14:02] aaamoon opened #164 "[BUG] Content Script is not showing all available properties in dom"
### What happened?

Why I can not get the properties : __reactInternalInstance and __reactEventHandlers of element from the Content Script inside chrome extension created by plasmo, but I can get the properties which project created by Create React App?

 Is there a way to get them from the scope of the chrome extension created by plasmo ?

This is my code:

1、in Create React App

![image](https:/

[2022-09-01 22:28] louisgv commented on #164
@aaamoon can you give me an extension that can access these properties with a react web page that I can use to test with, that'd be helpful!

[2022-09-02 01:29] aaamoon commented on #164
@louisgv I've tried to create a extension without Plasmo and I can't get __reactInternalInstance, __reactEventHandlers also.
After I searched, I found that stackoverflow seems to have a solution for extensions to obtain these two values, but I don't know how to apply it in Plasmo.

Related Links: https://stackoverflow.com/questions/53197472/chrome-extension-content-script-is-not-showing-all-availa

[2022-09-02 02:18] aaamoon commented on #164
@louisgv I can query those fields from the chrome console.
<img width="1431" alt="image" src="https://user-images.githubusercontent.com/25700476/188044654-aa5913b2-4152-4e60-911f-bd94e894858c.png">

[2022-09-02 07:34] Kurolox opened #167 "[BUG] Relative imports to React 18 cause options page to not render"
### What happened?

When a relative import to a `react` dependency is declared in the `package.json` of a Plasmo project, trying to access the options page of an extension will cause the page to not render properly.

This is caused because the `react18` template doesn't contain an explicit import for the `react` dependency, and when it tries to render the jsx contained in the template it fails to

[2022-09-02 09:44] hijiangtao commented on #164
@louisgv @aaamoon I faced same problem in developing projects, and I think it's not a problem of plasmo itself, it's actually a limitation of chrome for extension's development.

Actually, you can't access all the properties of a DOM (or be called HTMLElement for some reason). `__reactInternalInstance ` is the property you can't access from extension context (such as content UI element), a solutio

[2022-09-02 10:24] hijiangtao commented on #146
Can we consider WebStorm plugin likewise with same functionalities? 🤔

[2022-09-02 11:19] #167 closed

[2022-09-02 12:24] louisgv commented on #146
Mhmm, does WebStorm also uses js for their core logic?

[2022-09-02 12:25] ColdSauce commented on #146
Yeah that'd be great @hijiangtao. If you could make a GitHub issue for that, and spearhead it, it'd be greatly appreciated!

[2022-09-02 12:27] ColdSauce commented on #163
@gitpash are you interested in contributing a pull request to make this change?

[2022-09-02 12:35] gitpash commented on #163
Yes, I can try 😄

[2022-09-02 12:36] ColdSauce commented on #163
Awesome. Reach out on Discord or here if you're running into difficulties and we can help!

[2022-09-02 23:49] crazyair opened #169 "[BUG] The ESM module loader is experimental"
### What happened?

The initialization project reported an error in gitlab CI/CD

[code]

### Version

Latest

### What OS are you seeing the problem on?

MacOSX, Linux

### What browsers are you seeing the problem on?

Microsoft Edge

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
-

[2022-09-03 00:45] louisgv commented on #169
what version of nodejs is gitlab running? Make sure it's node16 or higher, otherwise it will def throw on ESM module

[2022-09-03 00:47] louisgv commented on #169
what version of nodejs is gitlab running?

[2022-09-03 00:51] crazyair commented on #169
Can gitlab runner install NVM and switch node versions

[2022-09-03 00:53] louisgv opened #170 "[BUG] web_accessible_resources removes valid entry"
### What happened?

When parsing web_accessible_resources, Plasmo transformed them into "legal" file paths.

This seems wrong according to https://discord.com/channels/946290204443025438/978320682985349130/1015407819710803998

User's specification for the override should be respected, and the specified path should only be used for grep copy. Otherwise, they should stay as-is.

Can files/resource b

[2022-09-03 00:58] louisgv commented on #169
You can switch image with something newer: https://docs.gitlab.com/ee/ci/yaml/#image

[2022-09-03 01:02] crazyair commented on #169
thinks

[2022-09-03 01:02] #169 closed

[2022-09-03 01:26] crazyair commented on #169
`nvm exec 16 pnpm build -- --zip`

[2022-09-03 13:46] louisgv opened #173 "[RFC] Expose NODE_ENV to client-side process.env"
### How do you envision this feature/change to look/work like?

process.env.NODE_ENV === "development" | "production"

### What is the purpose of this change/feature? Why?

This would be beneficial for folk who want to distinguish between their dev and prod version.

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

_No response_

### Verify canary release

- [

[2022-09-03 18:30] #163 closed

[2022-09-03 23:35] andrew-x opened #176 "[BUG] plasmo init fails for "sharp" module"
### What happened?

When running `npm x plasmo init` or installing plasmo globally and simply running `plasmo init`, I get the same error:

[code]

I am on Macbook Pro - Monterey v12.4
My node version is v16.14.0

Please let me know if there's something I'm missing, thank you!

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

[2022-09-04 00:04] louisgv commented on #176
Can you try to init an empty node project and add the sharp library as a dependency, and see if you can reproduce it there?

[2022-09-04 00:25] andrew-x commented on #176
Oh yup, forgot to add that in the original description but yes I tried it, still got the same error unfortunately.

[2022-09-04 00:27] andrew-x commented on #176
To be more clear, I didn't get any error when just running `npm i sharp` or even `npm i -g sharp`. But I got the error when running `plasmo init` even in the same directory with sharp already installed

[2022-09-04 01:33] louisgv commented on #176
Can you try using `npm create plasmo --verbose`, seems like the issue happens during deps install :d...

[2022-09-04 09:20] gxy5202 commented on #158
Can we just add a '[parcel-namer-hashless](https://www.npmjs.com/package/parcel-namer-hashless)' plugin to solve this? And this plugin is also available as an optional switch, allowing user customization.

[2022-09-04 10:42] crazyair opened #180 "[BUG]"
### What happened?

use `with-ant-design`  add ` <Menu items={[{ key: "aa", label: "a" }]} />`
`pnpm build`
[code]

<img width="792" alt="image" src="https://user-images.githubusercontent.com/7971419/188309312-3ab9b5f1-3899-4e75-b617-db24e674237b.png">

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Chrome, Microsoft Edge

[2022-09-04 13:02] andrew-x commented on #176
running `npm create plasmo` or `yarn create plasmo` works! Weird that it only fails for `npm x plasmo init`

[2022-09-04 13:50] louisgv commented on #176
We will likely deprecate that method since `npm x` runs `npm exec`, which might botch some of the native linkage ;d...

[2022-09-04 14:00] louisgv opened #182 "[RFC] Support tabs directory"
### How do you envision this feature/change to look/work like?

Anything placed in `tabs` gets turned into a react-mounted (or svelte/vue etc...) page for the extension.

Thus:

[code]

### What is the purpose of this change/feature? Why?

https://discord.com/channels/946290204443025438/1015686988055191623/1015980676488630373

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) C

[2022-09-04 14:14] louisgv commented on #158
A namer plugin is not really optional with the way parcel is apply this plugin. We will likely do it within the manifest transformer instead, which can then be selective toward which bundle should has stable name.

[2022-09-04 14:17] louisgv commented on #180
I just tried that code and it worked on my end.

[2022-09-04 14:23] gxy5202 commented on #158
I see, thanks. I hope to have the opportunity to contribute~

[2022-09-04 15:15] louisgv commented on #158
Please do! I'd recommend hacking around with the parcel config we have internally to see how it can be improved :)

[2022-09-04 16:52] louisgv commented on #182
To implement this feature, we will likely use a combination of the manifest transformer, and the namer:

- Our precompiler adds a tabs directory with a tab/<entry-name>/[index.html, index.ts]
- The transformer pick up the items in this tabs, and add them into the bundler with a metadata specifying they are "tabs"
- The namer pick up the metadata, and ensure they are copied to the right location in

[2022-09-04 23:03] crazyair commented on #180
Why？ browser version？ node version？mac m1?
<img width="320" alt="image" src="https://user-images.githubusercontent.com/7971419/188336824-c2cbbe1b-ad07-47b0-bc22-345372210151.png">
<img width="353" alt="image" src="https://user-images.githubusercontent.com/7971419/188336836-48705e20-b4a4-4f9c-963c-0d88f3a02585.png">
node v16.15.1

[2022-09-04 23:09] crazyair commented on #180
Try this on your browser
[chrome-mv3-prod.zip](https://github.com/PlasmoHQ/plasmo/files/9485652/chrome-mv3-prod.zip)

[2022-09-05 08:01] light-star opened #184 "[RFC] --source-map for production"
### How do you envision this feature/change to look/work like?

Can it add an option here?

`npx plasmo build --soureMap=true`

![image](https://user-images.githubusercontent.com/31688824/188394698-2886cd3b-0aad-4648-be68-2fc21715ca52.png)

### What is the purpose of this change/feature? Why?

i want to access sentry，because i want build product sourcemap.

### (OPTIONAL) Example implementations

[2022-09-05 11:33] hijiangtao commented on #146
Well, WebStorm is a IDE for JavaScript development, but to develop a plugin for it, I think the program language is not JavaScript instead.

[2022-09-05 11:36] hijiangtao commented on #146
I read the description about the RFC again, and I think it may be hard to get a WebStorm plugin with same functionalities, since developers may need to be familiar with other program languages (other than JS)?

[2022-09-05 15:40] louisgv commented on #148
Will implement this in #183

[2022-09-06 11:28] 798714773 opened #185 "[BUG]"
### What happened?

A bug happened! Modal not work
`import { Button, Modal } from 'antd';
import React, { useState } from 'react';

const App = () => {
  const [isModalOpen, setIsModalOpen] = useState(false);

  const showModal = () => {
    setIsModalOpen(true);
  };

  const handleOk = () => {
    setIsModalOpen(false);
  };

  const handleCancel = () => {
    setIsModalOpen(false);
  };

  retu

[2022-09-06 12:03] ColdSauce commented on #185
Is this the same issue you're having @798714773 ?

https://github.com/PlasmoHQ/plasmo/issues/75

[2022-09-06 12:28] crazyair commented on #180
What about?

[2022-09-06 12:40] ColdSauce commented on #180
We have been a bit busy unfortunately but will get to this when we have time

[2022-09-06 15:45] #148 closed

[2022-09-06 15:45] #158 closed

[2022-09-06 16:58] louisgv commented on #180
Just tested, doesn't work for me yeah. Try testing the menu component in an empty extension tho - it worked. And check your code, perhaps antd wasn't able to parse your items for some reason.

BTW, we're not antd maintainer, and integration between plasmo and antd is not a priority. We welcome your question but please ask them in the discussion or in our Discord instead: https://www.plasmo.com/s/d

[2022-09-07 02:25] #184 closed

[2022-09-08 02:44] louisgv opened #190 "[RFC] Mutation Observer CSUI with inline ShadowDOM injection"
### How do you envision this feature/change to look/work like?

Add to csui mount some code that can:
1 - watch for DOM change and return element based on query
2 - take the element and use it as the shadowDOM's parent

### What is the purpose of this change/feature? Why?

CSUI need to be inline with an element on the page and not just as an overlay

### (OPTIONAL) Example implementations

_No res

[2022-09-08 03:22] louisgv commented on #22
A lot of this will be experimented in #190

[2022-09-08 10:21] xmsz commented on #17
no working

[2022-09-08 16:03] louisgv commented on #190
Some preliminary progress:
![image](https://user-images.githubusercontent.com/6723574/189170542-18fdcf41-0d36-403e-a974-2ed2d601705d.png)

[2022-09-08 21:56] louisgv commented on #151
BTW sorry for late reply - basically you will need to setup a SSH keypair and associate it with ur github account, as our git submodules uses ssh: https://docs.github.com/en/authentication/connecting-to-github-with-ssh

[2022-09-08 21:59] louisgv commented on #151
Regarding the losing state and invalidated context of this issue - do people really want their background script to be static thorough development, or do they want the logic to change? - the idea of invalidating the context on development is so that folk can test their new background script logic, otherwise you would have to uninstall/re-install.

On production, it will be a single-spawned backgro

[2022-09-08 22:02] louisgv commented on #151
Note that in MV3, it's now background service worker. As a worker, it's prone to die (after 5mins or so) - thus, extension developer must account for the nature of worker and make it short-lived and ensure there's an "entry" logic to the bgsw - e.g who's invoking these background services? - otherwise, do not treat them as permanent, long-living worker as in prod they're not afaik - chrome kills t

[2022-09-09 02:21] xmsz opened #192 "[RFC] How to customize import resolution?"
### How do you envision this feature/change to look/work like?

~ => @

### What is the purpose of this change/feature? Why?

We use '@' instead of '~' as import resolution in other projects.

We want to copy components to this plasmo，But now, We have to change '@' to '~' every times.

### (OPTIONAL) Example implementations

import a from '@/b'

### (OPTIONAL) Contact Details

_No response_

### V

[2022-09-09 04:34] xmsz commented on #121
My case
1. mount app in '/home'
2. when user go to  '/user'，i use this code to inject into some element
[code]

but now i can't listen when location was changed.

- observer.observe(document.body, { childList: true }) no working some times
- listen on popstate no working at all

is there any way to acheive this ?

[2022-09-09 10:34] Karniej opened #193 "[RFC] DevTools Console Always On Top"
### How do you envision this feature/change to look/work like?

Whenever you click inspect on the Popup window, it should be available all the time. There's no need to open it once again after making small changes in the code and saving it.
Also If there could be a "server tab" opened like in React Native, where all the logs would be visible, this is fine too.

### What is the purpose of this chan

[2022-09-09 22:33] louisgv opened #195 "[RFC] Differentiating DEV version"
### How do you envision this feature/change to look/work like?

Add automated distinction for dev vs prdo version:
- Cook the icon a bit (tint the color?)
- Add DEV tag to name and description

### What is the purpose of this change/feature? Why?

https://discord.com/channels/946290204443025438/983397810533720075/1016426074479009896

### (OPTIONAL) Example implementations

_No response_

### (OPTI

[2022-09-09 22:36] louisgv opened #196 "[RFC] build --tag=staging"
### How do you envision this feature/change to look/work like?

--staging="staging-tag" or by default it's just "staging"

### What is the purpose of this change/feature? Why?

For cases where developers makes more deployment than just prod (staging, alpha, beta)

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

_No response_

### Verify canary release

- [X]

[2022-09-10 04:34] louisgv commented on #193
I think piping the log back to either the watcher console or into a page like expo would be nice.

I wonder if the reloading is caused due to our `popup.js` generates a new hash (?) or due to the chrome runtime reload we're using to do hot reload (?)...

Piping console is likely most long-term solution tho

[2022-09-10 04:37] louisgv commented on #193
The piping is possible by introducing a middle-man runtime at the parcel runtime level, replacing all console log within the bundle code with a call to the internal websocket server. That should definitely work - once the console piping is done, then it should be trivial to deal with the log data either on a dashboard or just throw it on the main terminal runner for now, maybe behind a flag.

[2022-09-10 20:30] #173 closed

[2022-09-10 20:33] louisgv opened #198 "[RFC] CSUI Mounting into multiple element"
## How does this RFC works/look like?

[code]

The above code should mount the exported `PlasmoInline` component onto every anchor found by the selectorAll. The framework should handle basic optimization such as WeakSet caching to make sure components are not mounted twice.

[2022-09-11 14:34] louisgv opened #199 "[BUG] --with-* does not set the right name"
### What happened?

THe --with- flag does not respect the provided name!

### Version

Latest

### What OS are you seeing the problem on?

_No response_

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked th

[2022-09-12 14:22] louisgv opened #200 "[RFC] Support OutLook Extension"
### How do you envision this feature/change to look/work like?

Implement OutLook extension support:

- Study the Yeoman template from outlook and see what are the "entry" files
- Specify the entry file, implement your logic, share them with other extension
- PROFIT

### What is the purpose of this change/feature? Why?

To boldly go where no one has gone before

### (OPTIONAL) Example implementati

[2022-09-12 15:27] louisgv opened #201 "[RFC] target specific env or named env"
### How do you envision this feature/change to look/work like?

Out-of-the-box support for:
[code]

[code]

Supply an `--env` flag to pick an env file can be done as well

### What is the purpose of this change/feature? Why?

Sometime env can be very flexible.

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

_No response_

### Verify canary release

- [X] I v

[2022-09-13 11:18] jlalmes commented on #76
This discussion might be relevant  👉 https://github.com/jlalmes/trpc-chrome/pull/1

[2022-09-13 13:41] louisgv commented on #76
@jlalmes thanks for the headsup!

[2022-09-13 17:07] #190 closed

[2022-09-13 20:28] ColdSauce opened #203 "[EXP] with-node-env"
### What is the example you wish to see?

https://github.com/PlasmoHQ/plasmo/pull/197

### Is there any context that might help us understand?

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the [current issues](https://github.com/PlasmoHQ/plasmo/issues) for duplicate problems.

[2022-09-13 22:35] louisgv commented on #121
Can you make a

Try to watch for subtree and attribute. We just shipped a feature for that too which might help with injection on new component? - To watch for location change, it's likely on window.location

BTW, feel free to make a Q/A in Discussion, someone might be able to further help :)

[2022-09-14 08:08] Karniej commented on #193
As long as I can read the logs they can be shown anywhere. The best would be to have it in the console, but the terminal is fine too.

@louisgv And I think the answer to your question is yes. I think that reloading is caused to generating a new hash every time.

[2022-09-14 08:39] crazyair commented on #143
`nod_moudles` ? no

[2022-09-14 13:57] louisgv commented on #193
Yeah the main problem with using the console is that it is controlled by chrome process. I think this is the key reason why Expo piped all their log and show it with their own console UI, unlike Cordova/Phonegap where they relied on the chrome remote console, which would lose information the moment they disconnect xD

[2022-09-14 14:09] louisgv commented on #203
Maybe we should enrich the `with-env` example instead?

[2022-09-14 14:16] belarusrulez commented on #151
I have hotfix that works for me perfectly. I just delete auto-reload.js file from manifest and refresh the extension. (It doesn't affect reload if code is changed and works as expected)
it would be ok if it would die in 5 minutes of inactivity but it refreshes immediately after message to popup or context was sent and code is doing nothing but waiting for response.

[2022-09-14 23:15] ColdSauce opened #209 "[BUG] pnpm create plasmo@canary doesn't work when using --with examples"
### What happened?

A bug happened!

When using --with examples the `@canary` (or likely any version info) isn't reflected into the actual package created

### Version

Latest

### What OS are you seeing the problem on?

_No response_

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of

[2022-09-15 16:51] ColdSauce commented on #161
Hi @holdenmatt thanks for the suggestion! We had to do a bit more engineering to get it to work (see PR linked here)

Once that started working, we were able to get a good example working! Please take a look at our shiny new [with-css-modules example](https://github.com/PlasmoHQ/examples/tree/main/with-css-modules)!

Let us know if you have any more suggestions or feedback :)

[2022-09-15 16:51] #161 closed

[2022-09-15 16:53] #209 closed

[2022-09-15 19:01] #195 closed

[2022-09-15 20:41] holdenmatt commented on #161
Awesome, thanks for the quick turnaround!

Great to have CSS modules working, and I generally find the "with-*" examples really helpful. We'll give this a spin!

[2022-09-16 05:27] louisgv opened #215 "[BUG] Auto-reload content-script needs to check context"
### Discussed in https://github.com/PlasmoHQ/plasmo/discussions/206

<div type='discussions-op-text'>

<sup>Originally posted by **xmsz** September 14, 2022</sup>
1. open options.html
2. modify code
3. reload

Expect:
reload options.html

Actully:
options.html close itself due to reload plugin

</div>

[2022-09-16 12:50] ColdSauce opened #217 "[BUG] using the create-plasmo package with npm doesn't pull down specified examples"
### What happened?

`npm create plasmo --with-tailwindcss` doesn't pull down the tailwindcss example. for example.

This works with yarn and pnpm but seems that npm is having troubles

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No r

[2022-09-16 15:37] VenkataBhaskarr commented on #217
yeah Just got the feedback that for npm we should use,
``` npm create plasmo -- --with-Specific Example ```
as they don't parse left over arg like pnpm, we must use -- to append arg

[2022-09-17 01:34] crazyair opened #219 "[BUG] icon.development.png not respected"
### What happened?

A bug happened!

![image](https://user-images.githubusercontent.com/7971419/190835340-4e8685f3-b0ad-4fea-8a84-b2cb6ce1befb.png)

and

In dev mode, the icon will be nominally gray, and the function of switching icons will be difficult to test

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Microsoft Edge

[2022-09-17 13:22] louisgv commented on #219
Can you elaborate on this? The idea is that in dev mode, the icon will be different vs production. So to test a new icon, you would build it for production. Or do you still want to test icon in dev mode?

Re: the plasmo key, I'm thinking of ways to indicate this extension was made using plasmo. Perhaps using a whole key is too much? ;d....

[2022-09-17 13:27] crazyair commented on #219
I feel I have done a little more. The development mode is not consistent with the production, and I am not friendly to developers

[2022-09-17 13:39] louisgv commented on #219
Actually there's a bug in the icon resolutino as well! Let me get on it real quick. The bug atm prevents developer from supplying their own `icon.development.png` xD....

[2022-09-17 15:45] #219 closed

[2022-09-17 15:52] louisgv commented on #219
@crazyair try out 0.54.2. Also if you want to retain your own development icon, use an `icon.development.png` file and it should not be grayscaled :)

[2022-09-18 00:35] crazyair commented on #219
<img width="645" alt="image" src="https://user-images.githubusercontent.com/7971419/190880690-7b859195-b2b8-49e8-9af9-2d21df80106e.png">

[2022-09-18 05:52] louisgv commented on #219
@crazyair can you try `plasmo dev --verbose` and ping me the log. Also, if possible pls copy/paste the error log - that'd help debugging easier. Also can you try cleaning the .plasmo directory and try again

[2022-09-18 09:27] crazyair commented on #219
[code]

[2022-09-18 09:29] crazyair commented on #219
`with-ant-design/package.json`

[code]
<img width="643" alt="image" src="https://user-images.githubusercontent.com/7971419/190895468-89767fcd-4c73-454c-823d-79aaf667cc47.png">

[2022-09-18 14:02] louisgv commented on #219
@crazyair it seems Parcel just released a new version of the sourcemap package, which introduced that bug. Make sure your dependency cache are up-to-date (since if this particular package has a different version compared to the rest, you will get the error above).

I have also did a patch bump to all of our dependencies to ensure they align. Please try 0.54.4 and lmk if it still doesn't work ;d

[2022-09-20 01:11] louisgv opened #222 "[RFC] Reduce HMR warning"
### How do you envision this feature/change to look/work like?

Upon disconnection, the HMR reconnect websocket should only warn once, then reconnect silently

### What is the purpose of this change/feature? Why?

The current warning is annoying.

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

_No response_

### Verify canary release

- [X] I verified that t

[2022-09-20 22:46] louisgv opened #223 "[RFC] Improve compats between PlasmoContentScript and mv3"
### How do you envision this feature/change to look/work like?

Supports all the keys introduced in MV3: https://developer.chrome.com/docs/extensions/mv3/content_scripts/#matchAndGlob

### What is the purpose of this change/feature? Why?

https://discord.com/channels/946290204443025438/1021888904489611306/1021888910575542375

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Co

[2022-09-21 13:40] ghabs opened #225 "[RFC] Redux for Content Script"
### How do you envision this feature/change to look/work like?

[Per the request in the docs](https://docs.plasmo.com/quickstarts/with-redux), I want to express my interest and support in getting the redux library to work with content scripts.

### What is the purpose of this change/feature? Why?

Currently as a workaround I'm implementing messaging from a content script to a background script to

[2022-09-21 15:34] louisgv commented on #225
BTW @ColdSauce why doesn't the redux thingy work with content-script? I thought that if it synced using our storage package, it should able to sync on the content script side too?

I.e, in my mind, the user can use the Storage module on the content-script side to watch for changes ;d...

[2022-09-22 00:41] ColdSauce commented on #225
Hey @ghabs thanks for the request! Sorry to hear you're having trouble with using Redux in content scripts. We can't promise to fix this in the near term just because we have a lot on our plate, but if you'd like to help us fix it, we can provide tips/help along the way.

A month ago, someone in our Discord community was looking to fix Redux in content scripts. I just reached out to them to see if

[2022-09-22 14:36] #147 closed

[2022-09-22 15:15] louisgv commented on #151
@belarusrulez I see, this would likely go hand-in-hand with #215

[2022-09-22 16:28] louisgv opened #226 "[RFC] Make UI Library optional"
### How do you envision this feature/change to look/work like?

Plasmo should be able to work without react/svelte/etc..

### What is the purpose of this change/feature? Why?

Less is more

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

_No response_

### Verify canary release

- [X] I verified that the issue exists in `plasmo` canary release

### Code of Co

[2022-09-22 16:30] louisgv opened #227 "[RFC] init with specific template entry files"
### How do you envision this feature/change to look/work like?

The above should create a blank plasmo project, with the entry files pre-generated with some minimal boilerplate code.

### What is the purpose of this change/feature? Why?

https://discord.com/channels/946290204443025438/1022272229402234950/1022272233609117716

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Con

[2022-09-22 16:34] louisgv commented on #223
Done in v0.54.5

[2022-09-22 16:34] #223 closed

[2022-09-23 00:55] #170 closed

[2022-09-23 00:56] #226 closed

[2022-09-23 12:56] #227 closed

[2022-09-23 15:35] Kaan0200 commented on #162
This would be really helpful when using plasmo within the nx monorepo.  The nx monorepo keeps a single package.json at the repo-root to keep packages and versions aligned, along with caching various aspects of the repo.

Having the plasmo manifest overrides living in a different file would allow me to integrate plasmo into an nx monorepo a bit more effectively.

[2022-09-23 22:28] louisgv commented on #222
So apparently... due to the way the browser instantiates WebSocket connection, the constructor error cannot be caught by the js client process. It's possible to "ignore" this error somehow in a webworker - which would require a rethinking of how we're doing HMR. Maybe only the background script should initiate the websocket, and all other extension component to use message passing instead, using a

[2022-09-25 07:10] louisgv opened #233 "[RFC] Officially Support Safari target"
### How do you envision this feature/change to look/work like?

When specifying --target=safari-mv3, it should spit out an actual XCode project suitable to be used on Safari

### What is the purpose of this change/feature? Why?

Without freedom of choice there is no creativity

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

_No response_

### Verify canary r

[2022-09-26 17:32] #182 closed

[2022-09-26 18:48] imbdb opened #235 "[RFC] Generate and embed html iframes"
### How do you envision this feature/change to look/work like?

This feature will use the `scripting` permission and inject a iframe on the current page only when user does an action on extension like clicking on the extension.

### What is the purpose of this change/feature? Why?

This will allows extension to only interact with page when user wants to. It will boost user morale for using the ext

[2022-09-26 18:50] louisgv opened #236 "[BUG] --entry does not work with nested directory"
### What happened?

#227 is not working when using with nested directory: `contents/inline`

### Version

Latest

### What OS are you seeing the problem on?

Windows, MacOSX

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Condu

[2022-09-26 18:53] louisgv commented on #235
Can you elaborate on what this means and what other type of action should be considered when designing this feature?

Why an iframe when we can use csui? Is there any specific usecase for iframe?

[2022-09-26 19:04] imbdb commented on #235
By action on a extension, I mean clicking or interacting with extension in any way

- Clicking on the extension icon in toolbar
- Clicking a button in the popup

Iframe because it will have its own scope and isolation from the external document.
Content Scripts are cool but they are embedded on page when page loads, I need the loading of content script to be a conscious user decision.

For an exam

[2022-09-28 05:02] liwei-007 opened #238 "[BUG] Use the FETCH request interface in Background, prompting 403"
### What happened?

Use the FETCH request interface in Background, prompting 403

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the [cur

[2022-09-28 05:04] liwei-007 commented on #238
![image](https://user-images.githubusercontent.com/34410507/192691895-015b89b6-7b27-430e-8284-47f0afb5615e.png)

[2022-09-28 07:38] liwei-007 commented on #238
The framework has no authentication？

[2022-09-28 08:48] ColdSauce commented on #238
Hey @liwei-007, thanks for the report! This doesn't seem to be an issue with Plasmo.

The server you are reaching out to is giving you a 403. You'll need to add some sort of authentication scheme to your request. Either something like [basic authentication](https://stackoverflow.com/questions/43842793/basic-authentication-with-fetch), etc. Please refer to whatever documentation the server provides

[2022-09-28 08:48] #238 closed

[2022-09-28 09:20] liwei-007 commented on #238
Thank you. I have the same problem that this student has, or do you have the same problem。https://stackoverflow.com/questions/63873773/fetch-request-from-chrome-extension-results-in-403-forbidden

[2022-09-28 09:25] liwei-007 commented on #238
@ColdSauce  In addition, our server does not have any authentication processing

[2022-09-28 09:31] ColdSauce commented on #238
Got it. If you give me a minimal example of the server and the chrome extension, that can help me reproduce this and figure out what's happening.

According to that message, it might be an issue with CSRF. When you look at the server logs, do you see CSRF errors? If not, is there any other log your server gives you?

What I'd recommend is:

- call fetch on a web page or somewhere that you've verif

[2022-09-28 09:45] liwei-007 commented on #238
I see. Thank you

[2022-09-30 03:47] louisgv opened #240 "[BUG] --with-* flag does not initialize git"
### What happened?

`pnpm create plasmo --with-src` does not produce a git project

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checke

[2022-09-30 04:41] louisgv commented on #215
Wow this is much more annoying than I thought - if you have a content script, the reload screw up everything!

[2022-09-30 15:08] callmekatootie opened #241 "[BUG] Live reload doesn't work when new entries are added"
### What happened?

I tried out the [with-content-script](https://github.com/PlasmoHQ/examples/tree/main/with-content-script) and [with-newtab](https://github.com/PlasmoHQ/examples/tree/main/with-newtab) examples.

I created new files (content.ts and newtab.tsx correspondingly) and in each case, the effect didn't display even after waiting couple more seconds. I had to visit `chrome://extensions`

[2022-09-30 15:09] callmekatootie commented on #241
Forgot to mention that I had executed `npm run dev` before I tried to add the new files (and the command was still active / running) - development server was very much active.

[2022-09-30 15:12] louisgv commented on #241
I think this is the case when we just have a popup and don't reload accordingly. I will note this as another edge case for #215

[2022-09-30 15:18] louisgv opened #242 "[BUG] Vue and Svelte CSUI inline-mount not working"
### What happened?

When using CSUI mount feature with vue or svelte, they don't mount onto the right place!

### Version

Latest

### What OS are you seeing the problem on?

_No response_

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project'

[2022-10-01 16:35] nishidayoshikatsu opened #244 "[BUG] Alias Local Imports don't work"
### What happened?

I tried out the [Alias Local Imports](https://docs.plasmo.com/customization/alias#alias-local-imports) example.

`pnpm dev` does not work

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

[code]

### (OPTIONAL) Contact Details

nishida.yoshikatsu@sharebrowse.tech

### Code

[2022-10-01 21:34] louisgv commented on #244
Thanks for the report :D - I might have jumped the gun when documenting that feature bc one of the community said it worked for his case. The pathing for local module might not work it seems - can you try a different pathing alias to see if it work? Maybe `"@Component/*": "~components/*"` or something like that. I will get on to test this out sometime next week

[2022-10-02 00:40] louisgv commented on #242
https://github.com/hehehai/packclue/blob/main/src/contents/plasmo-inline.vue

[2022-10-02 02:19] louisgv commented on #242
Svelte works - you just need to make sure it's a module! (this ways, svelte compiles the source into module instead of single class)

Example updated:

https://github.com/PlasmoHQ/examples/blob/main/with-svelte/contents/plasmo-inline.svelte#L1-L11

[2022-10-02 02:21] louisgv commented on #242
https://github.com/PlasmoHQ/examples/blob/dc2b935966b17a6f5e87e22bd93f61ebbbe6a0c2/with-svelte/contents/plasmo-inline.svelte#L1-L11

[2022-10-02 03:04] louisgv commented on #242
Vue is also now working - you must use the [option API](https://vuejs.org/guide/introduction.html#api-styles) and export a `plasmo` object with all the plasmo-related CSUI functions for this to work!

Example:

https://github.com/PlasmoHQ/examples/blob/main/with-vue/contents/plasmo-inline.vue#L22-L36

[2022-10-02 07:24] callmekatootie opened #246 "[EXP] How to anchor a React Component without requiring the user to scroll"
### What is the example you wish to see?

Anchor a react component to a specific element, without requiring the user to scroll first.

### Is there any context that might help us understand?

For the documentation of `getOverlayAnchor()`, it states:

This results in my UI element first appearing at the top left of the page - and only when the user scrolls, the component rightly appears at the posi

[2022-10-02 08:37] louisgv commented on #246
Try using this method: https://docs.plasmo.com/browser-extension/content-scripts-ui#watchoverlayanchor

[2022-10-02 21:16] #242 closed

[2022-10-03 01:55] #236 closed

[2022-10-03 12:25] chenka commented on #215
I found this issue too but on `chrome://<extension-id>/path-to-file.html`
When I save HTML the tab was closed, I have to reopen everytime

[2022-10-03 17:46] louisgv opened #247 "[RFC] Rebuild with local dependency in monorepo"
### How do you envision this feature/change to look/work like?

When using plasmo inside a monorepo, e.g https://github.com/kartycodes/plasmo-import-demo (or the plasmo repo itself):
- If a child dependency changed, and plasmo is pointing directly to that file (a ts module)
- Then the new bundle should reflects the new child dependency, not the old one

### What is the purpose of this change/featu

[2022-10-03 17:49] louisgv commented on #215
@chenka yup it's super annoying. I will prioritize fixing it this week, otherwise, it sucks to work on my own extension xD...

[2022-10-03 17:54] louisgv commented on #215
Also with this fix, we will adding back react-refresh runtime as well which will provide HMR for static pages

[2022-10-03 21:42] louisgv commented on #247
Some related stuffs:
- https://github.com/parcel-bundler/parcel/issues/7798
- https://github.com/parcel-bundler/parcel/issues/7579#issuecomment-1098038157
- https://github.com/parcel-bundler/parcel/issues/8418
- https://github.com/parcel-bundler/parcel/issues/4332

[2022-10-03 21:49] louisgv commented on #247
One way to hack thru this is to fork Parcel's core module: https://github.com/parcel-bundler/parcel/blob/v2/packages/core/core/src/Parcel.js

^ This is where they initiate the internal watcher, which points to the `resolvedOptions.projectRoot` <- We need to separate this from the actual project root so that the watcher can be more flexible

[2022-10-03 21:51] louisgv commented on #247
This seems doable since all the import are either published module, or a small utils. It would just take some time.

[2022-10-04 00:07] louisgv commented on #215
Will also need to think about this: https://github.com/parcel-bundler/parcel/blob/de1569572ab681bb6e90d2b330d002b5df7947ea/packages/runtimes/webextension/src/autoreload-bg.js#L10

[2022-10-04 00:24] louisgv commented on #235
It seems this is largely addressed by the recently introduced `tabs` API. For more convo: https://discord.com/channels/946290204443025438/1024023999992303616/1024024006686429184

[2022-10-04 00:36] #246 closed

[2022-10-04 00:43] louisgv opened #250 "[EXP] with-tabs"
### What is the example you wish to see?

Create an example to show how the tabs feature can be used (for page routing, iframe mounting, etc...)

### Is there any context that might help us understand?

- https://github.com/PlasmoHQ/plasmo/discussions/249
- More docs for https://docs.plasmo.com/browser-extension/tab-pages

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-04 00:51] louisgv commented on #196
Also the ability to build the development package would be nice

[2022-10-04 00:54] louisgv commented on #196
Staging should:
- Use process.env.NODE_ENV === "staging"
- Bundle send to chrome-mv3-staging
- Has staging specific: Icons + Name

[2022-10-04 00:58] louisgv commented on #201
This is very correlated with #240 - the key question is does developer care more about browser target or the tagged bundle

[2022-10-04 10:00] nishidayoshikatsu commented on #244
I tried that solution and it still does not work.

[2022-10-04 15:24] nyhxiaoning opened #251 "[BUG] Cannot start the dev server"
### What happened?

A bug happened!
windows10和window11都尝试过，都是报错，对于项目with-vue

node版本分别尝试了：v16.17.0和v16.14.0

pnpm使用7.12.2

启动之后，安装依赖没有问题，但是启动后，如下报错

[code]

有类似的问题吗？如果有，帮忙说明一下，谢谢

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No respo

[2022-10-04 17:06] ian97531 commented on #244
Hi there. I'm the one that was able to get this to work in my setup. I have a monorepo setup using pnpm. The monorepo has a package for my browser extension and another for a 'shared' package with components, utilities, etc. I'm able to import items from my 'shared' package into the 'browser extension' package by adding this to the `package.json` file in my 'browser extension' package:

[code]

No

[2022-10-05 01:04] louisgv commented on #251
Which version of plasmo are you running? The new one does not generate icon named `icon48.png` - please upgrade the framework.

[2022-10-05 09:43] suciptoid opened #253 "[BUG] WAR from manifest not included by default"
### What happened?

Updated plasmo from 0.54.4 to 0.55.2 today and noticed my `web_accessible_resources` not included by default on `plasmo dev` and replaced with this:

[code]

Digging into source code and try some fix: https://github.com/suciptoid/plasmo/commit/abf1ab4df49f91a56e741391f22f0ff49d6d32da

* I can submit PR or you can implement better fix 😂

### Version

Latest

### What OS are you

[2022-10-05 11:19] hehehai commented on #251
@nyhxiaoning hi, 建议尝试删除 .plasmo 和 build 文件夹后重试（看起来不是系统的问题）。如果可以的话，请升级 plasmo。

- [ ] 确认代码中是否存在 icon48.png 的引用
- [ ] 确认 assets 是否有有  icon48.png 文件

还有问题的话，可以贴一下复现代码，或者在 [Discord](https://www.plasmo.com/s/d) 中得到更多快速的帮助。

[2022-10-05 17:42] louisgv commented on #253
@suciptoid Thanks for the bug report, and please do submit your PR :D

[2022-10-05 18:13] #240 closed

[2022-10-05 22:34] #253 closed

[2022-10-06 17:35] louisgv commented on #215
We might need to disable bgsw socket, and only reserves the HMR reload to the pages and scripts.

[2022-10-06 18:23] bsstoner opened #256 "[BUG] Can't run pnpm create plasmo"
### What happened?

Just trying to follow the getting started steps in the README to create a new project and getting an error.

[code]

Created example-dir and ran npm init to get the package.json, then got a different error:
[code]

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

_No respo

[2022-10-06 18:26] louisgv commented on #256
@bsstoner can you output the whole log? Also, what's the version of `pnpm` that you're using? Also, is `/workingdir` a virtual drive or some kind of special mount point? - I just tested out and it worked on my end ;d...

[code]

[2022-10-06 18:28] louisgv commented on #256
@bsstoner if possible, please run `pnpm create plasmo example-stuff --verbose` and paste the log here if there's still error

[2022-10-06 18:38] bsstoner commented on #256
Doesn't seem to give any new info...

[code]

From `.pnpm-debug.log`
[code]

[2022-10-06 18:54] bsstoner commented on #256
Ahhh, that worked, sorry don't usually use pnpm. Thanks!

[2022-10-06 18:54] #256 closed

[2022-10-06 21:31] apawson commented on #150
`executeScript` expects a `file` path relative to the extension root. Not suggesting this is a ~good~ solution (it's very much a hack), but this _does_ "work":
[code]

In my case, I'm trying to inject a React component. Again, this ☝️  "works" but it means I lose out on most of the Plasmo "magic" (since I need to mount the component in the host page myself).

[2022-10-07 19:36] TedDriggs opened #257 "[EXP] How to add multiple UI elements with Content Scripts UI?"
### What is the example you wish to see?

I'm building an extension that highlights appearances of certain values in the page, and would like to add an instance of my component to the page each time a match is present. Right now, my content script is wrapping the occurrences of these match terms in unstyled elements so there's something to attach _to_, but I'm not sure how I would have `PlasmoGetO

[2022-10-07 21:34] louisgv commented on #257
This will be solved in #198

[2022-10-08 00:53] louisgv commented on #215
https://bugs.chromium.org/p/chromium/issues/detail?id=1271154#c68

[2022-10-08 01:29] louisgv commented on #215
https://bugs.chromium.org/p/chromium/issues/detail?id=1309263

[2022-10-08 19:04] #215 closed

[2022-10-08 19:04] #241 closed

[2022-10-08 19:05] louisgv commented on #151
resolved in #255

[2022-10-08 19:05] #151 closed

[2022-10-08 19:05] #251 closed

[2022-10-08 19:49] louisgv commented on #28
Since the advent of #231, I'm not sure if we need to focus on this anymore - we can just refactor devtools example to use the tabs feature and it should just work with minimal headache.

[2022-10-08 20:01] louisgv commented on #257
BTW re: MutationObserver - inlineAnchor initiates a top-level mutationObserver to monitor the element to mount on top of. However I think it's important that we only monitor 1 indicator (via ID or parent lookup) to reduce perf impact. The idea in my mind is that:

- `getInlineAnchor` acts as an anchor to determine when the mutationObserver should "stop"
- Another function would then be exposed, al

[2022-10-08 23:08] louisgv commented on #244
Here's an example setup that I would use for this: https://github.com/PlasmoHQ/plasmo-test/tree/main/bug/bug-244-alias-local-imports

I will update the doc to reflect the example

[2022-10-08 23:08] #244 closed

[2022-10-09 02:29] hijiangtao commented on #150
@apawson Have you tried `data-text:` scheme before, I think it may work properly with the mechanism of Parcel, and is also a better way to achieve it, but I don't have time to test it these days, I may write a demo in verifying it in next few weeks.

[2022-10-10 17:44] louisgv opened #258 "[BUG] Firefox dev broken"
### What happened?

[code]

does not work, ref:

https://discord.com/channels/946290204443025438/946290204904390690/1028953670689243197

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What browsers are you seeing the problem on?

Firefox

### Relevant log output

[code]

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this

[2022-10-10 17:54] p6l-richard commented on #76
I'm posting Loom's use case as who have the following features:
- inject a portal container to the content-script
- inject a ui element to the content-script
- this ui element can toggle the portal's content UI
- overwrite the onAction click handler to toggle the portal's content UI

Here is a walkthrough of this example:
https://www.loom.com/share/d764409295eb4612a05d689cd9155fd1

[2022-10-10 18:16] jlalmes commented on #76
I'm currently running an alpha version of [`trpc-chrome`](https://github.com/jlalmes/trpc-chrome). Appears that you can use it with tRPC subscription procedures (two-way messaging) for this use-case.

[code]

[code]

[2022-10-11 08:22] louisgv commented on #198
[code]

The above works but it requires a bit of fine-tuning:
- If the website re-render its page and cause the CSUI to detach, the observer needs to know whether the elements were all removed. This could be potentially expensive (?)

[2022-10-11 09:02] louisgv commented on #73
You might want to use next linting rule instead. I don't think tsc by
default understand css module, much less less module

On Fri, Jul 1, 2022, 3:42 AM 叶枫 ***@***.***> wrote:

[2022-10-11 15:22] #258 closed

[2022-10-11 17:04] louisgv commented on #257
The idea is that in the MutationObserver callback, we need to check for when to mount the CSUI (for example, when the gmail's compose modal appears, or when the email list appears). I'm still experimenting with this

We are planning to pass down the node that was we will mount the react root onto as a props to the inner react component. I'm curious to hear what other piece of prop you would want t

[2022-10-13 20:52] jlalmes commented on #76
For visibility, here's a complete Plasmo example:
https://github.com/jlalmes/trpc-chrome/tree/master/examples/with-plasmo

[2022-10-13 23:48] louisgv commented on #198
NOTE:
- We will change the lifecycle a bit to abstract out the render overwrite.
- Likely will do all the anchor checking first before mounting stuff down the line
- Will be changing overlayAnchor behavior to support multiple overlayAnchor

[2022-10-15 16:40] seantech2000 commented on #198
GOOD

[2022-10-16 04:31] louisgv commented on #198
Facing a tricky issue... apparently when using the parcel resolver, somehow when resolving the same file bundle, it somehow... share state instances between content scripts (?)....

[2022-10-16 13:41] p6l-richard commented on #76
@jlalmes I'm using a React Portal for this use case so that I can sync the state with React. I think this is in this case possible (or even easier) as it's just one WebExtension entity: a content-script. As soon as there are multiple entities involved (e.g. sync popover & content-script), your trpc-chrome implementation looks _very_ interesting.

I've used @plasmo/useStorage but what I prefer abou

[2022-10-16 15:09] nyhxiaoning commented on #251
@hehehai
问题解决了，谢谢。降低版本后降低到plasmo：0.48.1，然后重新用yarn安装就好了。不过升级plasmo的方案还没有找到头绪

对于升级版本的解决方案，试了试，最后一步，总是报错sharp安装错误，不知道你们windows有没有升级后报错sharp
\node_modules\sharp: Command failed.
Exit code: 1
Command: (node install/libvips && node install/dll-copy && prebuild-install) || (node install/can-compile && node-gyp rebuild && node install/dll-copy)
Arguments:
这个sharp说是各种代理配置，也没有弄好，一直下载不成功，我再看看，这种方案

[2022-10-16 15:10] nyhxiaoning commented on #251
好像是之前安装的时候，打包异常了，重新搞了一遍，降级了plasmo，就好了

[2022-10-16 23:14] louisgv commented on #198
After some more research - cloneNode cannot be used with shadowDOM... So we will just make do with create element.

[2022-10-17 10:26] Dreamcreative opened #261 "[BUG] The generated icons color disappears"
### What happened?

i use `pnpm create plasmo` created a project，and `pnpm dev`。Then the `.plasmo/gen-assets` icons's color was disappeared。But i copy `generate-icons.ts` code execute locally , It's normal  ！！！

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

_No response_

### (OPTIONAL) Co

[2022-10-17 15:09] louisgv commented on #261
By color disappear, you mean the color got grayscaled? It's intentional for `plasmo dev`. To retain color or provide your own dev icon, you can provide a `icon.development.png`. Use `pnpm build` to see production build, which should have color

Doc: https://docs.plasmo.com/browser-extension/icon

[2022-10-17 16:11] louisgv opened #263 "[RFC] sandbox pages"
### How do you envision this feature/change to look/work like?

[code]

This turns into `sandbox pages`

### What is the purpose of this change/feature? Why?

OOB support for sandbox pages would be nice - they are basically similar to tab pages, that also need to be added into the sandbox property of manifest.

### (OPTIONAL) Example implementations

_No response_

### (OPTIONAL) Contact Details

[2022-10-17 18:29] louisgv commented on #257
See https://github.com/PlasmoHQ/plasmo-test/blob/main/rfc/rfc-190-inline-csui/contents/gmail-title-inline-button.tsx for the `multipleInlineAnchorList` API

We will need doc gen for this :d....

[2022-10-17 19:10] #198 closed

[2022-10-18 02:54] viclai commented on #150
@louisgv, maybe I'm missing something, but I don't think a string argument exists for [`chrome.scripts.executeScript`](https://developer.chrome.com/docs/extensions/reference/scripting/#method-executeScript).  There's a parameter called `code`, but that's only supported in the legacy version (MV2), [`chrome.tabs.executeScript`](https://developer.chrome.com/docs/extensions/reference/tabs/#method-exe

[2022-10-18 06:08] hwd-2020 opened #264 "[BUG] CSUI does not reload in 0.56.0"
### What happened?

将版本升级到 0.56.0 以后，发现修改文件后页面不自动刷新。

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What browsers are you seeing the problem on?

Microsoft Edge

### Relevant log output

_No response_

### (OPTIONAL) Contact Details

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the [current issues](https:

[2022-10-18 06:31] hwd-2020 commented on #264
控制台提示 `🟠 WARN   | [plasmo/parcel-runtime]: Connection to the HMR server is closed.`

[2022-10-18 07:27] hwd-2020 commented on #264
我尝试删除了项目中的 `.plasmo`  `build` 目录，并删除重新加载插件，依然不行。修改国 content 页面以后需要在扩展管理页面手动点击重新加载并回到页面刷新才能更新修改

[2022-10-18 10:39] louisgv commented on #264
Contents are now only refreshed if the page is "focused" or the document is visible:
https://github.com/PlasmoHQ/plasmo/blob/main/packages/parcel-runtime/src/runtimes/script-runtime.ts#L28

The idea is that we only reload visible tabs. I was thinking about this and perhaps reloading everything might be a better dev exp :d....

[2022-10-18 10:42] louisgv commented on #264
@hwd-2020 try out `canary`, I removed the visibility check

[2022-10-18 11:03] hwd-2020 commented on #264
Thank you. I used the `canary`, but the problem remains unsolved😢
![屏幕截图 2022-10-18 190236](https://user-images.githubusercontent.com/65169631/196412785-755bb518-0bcd-4f1f-a174-0ef54775ef2d.png)

[2022-10-18 13:00] teshoudong opened #266 "[BUG] tab pages path cannot be added into WARS"
### What happened?

Hi, I try to use the new feature tab page and i put it into the iframe, but the chrome say:
![](https://cdn.dancf.com/fe-assets/img/1a0b1792ee00529b9ed38c4b3544baaa.png)
so i try to use【url】prefix to get the path, because it will add the file into 【web_accessible_resources】automatically, but get the wrong path(not the tab page path):
![](https://cdn.dancf.com/fe-assets/img/0c93

[2022-10-18 15:58] #263 closed

[2022-10-18 16:52] louisgv commented on #266
@teshoudong what version of Plasmo are you using? I just tried with latest and this worked:

[code]

With a `tabs/text.tsx`

[2022-10-18 17:08] hwd-2020 commented on #264
😅😅😅I tried to update 0.57.0-alpha.3, but I don't know why it still failed. This is my first time to use `plasmo`, so I installed vue when learning the example Later I forgot to uninstall
![屏幕截图 2022-10-19 010422](https://user-images.githubusercontent.com/65169631/196498392-62d9b9bf-3051-4445-9f04-9aaed5ff8c0d.png)

[2022-10-18 17:12] hwd-2020 commented on #264
I tried to create a new project and upgrade `plasmo` to `0.57.0-alpha.3`, but still failed

[2022-10-18 18:27] louisgv commented on #264
@hwd-2020 btw when you say the content-script does not reload, can you elaborate on the behavior? When I test it locally, it reloads for me. You just need to ensure that the background service worker is alive - this is a cause for bug with previous plasmo version thus I went for a more selective page refresh mechanism (since content-script doesn't wake up background service worker sadly ;d....)

[2022-10-18 18:27] #266 closed

[2022-10-19 00:51] keslert opened #267 "[BUG] HMR not working for newtab"
### What happened?

I just started using plasmo for the first time, so hopefully, I'm not just doing something wrong, but I can't get live reload to work with the newtab. I only see my changes when I refresh. I've tried with 0.56.0 and 0.57.0-alpha.2.

### Version

Latest

### What OS are you seeing the problem on?

MacOSX

### What browsers are you seeing the problem on?

Chrome

### Relevant log

[2022-10-19 02:04] teshoudong commented on #266
My version is 0.56.0, because the lastest version 0.56.1 can not be install and report the error:
![image](https://user-images.githubusercontent.com/24988831/196579282-01bea418-4eee-4216-ab39-81031cd68972.png)
Actually, i find a way to solve:
![image](https://user-images.githubusercontent.com/24988831/196579977-408a2cb8-ca3f-4def-a5ed-91552dd44fe8.png)
Thanks for help!

[2022-10-19 02:09] louisgv commented on #264
Ooh that might explain why. Thanks for the details, I will investigate this once I'm free - this week is a bit busy for me ;d

[2022-10-19 02:11] louisgv commented on #267
@keslert Thanks for the bug report! This is quite weird, I tested HMR with a tab page recently and it worked. Could it be related to #264 ? I'm a bit busy this week, but will prioritize this and #264 once I'm free :)

[2022-10-19 02:18] louisgv commented on #267
@keslert can you provide the outline of your project and which file you changed to test HMR? For me, when I changed my `newtab.tsx` file, it HMR'ed the code on my page.

[2022-10-19 02:45] hwd-2020 commented on #264
Yes, I can see that the console has printed the `INFO Extension reloaded`, but the browser has not refreshed

[2022-10-19 10:20] aabajo opened #269 "[BUG] mv2 failed to resolve background scripts"
### What happened?

I've created the project with the next commands and everything works fine:

[code]

But when I start the project with firefox-mv2 target it fails:

Added dev-firefox in package.json with --target param:

[code]
And when the command is executed, fails:

[code]
With --verbose option:

[code]

### Version

Latest

### What OS are you seeing the problem on?

Windows

### What brows

[2022-10-19 13:55] shuzijun commented on #257
How to add multiple UI elements with getRootContainer?

[2022-10-19 17:46] louisgv commented on #269
@aabajo thanks for the bug report! Can you try canary? I just pushed a quick fix

[2022-10-19 22:21] apawson commented on #150
Apologies @viclai , I hadn't tested this out on a production build. After reading your post I tried it and hit the same issue.

In part, the issue is my fault as my regex didn't account for the difference in filenames between the `dev` and `prod` builds:
[code]

That said, even with this change, the production build throws errors. It appears to be related to underlying differences in the parcel co

[2022-10-19 23:11] #269 closed

[2022-10-19 23:13] louisgv commented on #266
Hmm the 0.4.0 was released 8 days ago:

https://www.npmjs.com/package/@plasmohq/parcel-packager

But yeah try 0.57.2 - it has a couple bug fixes as well

[2022-10-20 08:58] aabajo commented on #269
Working now! Compiled and tested in Firefox.

The package.json versions are the following:

[code]
![image](https://user-images.githubusercontent.com/116162765/196904256-633b9073-72b1-4266-be3f-44e93aa6d35e.png)

Thanks for the help

[2022-10-20 10:56] keslert commented on #267
I followed the instructions to create a src folder where I have a `newtab.tsx`. That file imports a few other components from a `components` folder. Changing the `newtab.tsx` file or the components requires a refresh before I see the changes. I do see in the browser console that HMR is listening for changes. And I can see in the dev terminal that changes are being compiled.

[2022-10-20 11:10] ColdSauce commented on #150
Thanks for the great discussion here. There seem to be quite a few leaky abstractions here on Plasmo's end we'll need to patch up.

It seems to me that there are a few use cases here.

**(P.S., if I haven't mentioned your use case, please add it to this issue by commenting below. Otherwise, we might not consider it when we're improving Plasmo to patch up these leaky abstractions!)**

### Injecting

[2022-10-20 11:16] ColdSauce commented on #22
@louisgv are we good to close this?

[2022-10-20 15:12] viclai commented on #150
@ColdSauce, do have a timeline of when that will be patched? 🙏

[2022-10-21 08:15] lengmianshi opened #294 "How to initialize a project with vue directly?"
The command `pnpm create plasmo` create a project with React ，but I want develop with vue and initialize a project with vue directly ，is there a solution?

[2022-10-21 09:01] #294 closed

[2022-10-23 14:10] guidongnan commented on #257
And how I use the `getInlineAnchorList` in `mountShadowHost` , seems that there are no supports for how to use the type of NodeList return by `getInlineAnchorList` .

[2022-10-23 19:42] louisgv opened #271 "[RFC] Automatically resolve system node browser polyfill"
### How do you envision this feature/change to look/work like?

When developer consumes a library such as grpc, which relies on the bundler to supply missing browser polyfill such as os, http2

Plasmo should polyfill these modules automatically without user having to manually install/debug with them (similar behavior to nextjs)

### What is the purpose of this change/feature? Why?

Manually instal

[2022-10-23 19:44] louisgv commented on #22
@ColdSauce yeah I think it's good to go for now!

[2022-10-23 19:44] #22 closed

[2022-10-25 07:49] seantech2000 opened #272 "[EXP] antd message、Modal not work on plasmo"
### What is the example you wish to see?

[code]

### Is there any context that might help us understand?

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct
- [X] I checked the [current issues](https://github.com/PlasmoHQ/plasmo/issues) for duplicate problems.

[2022-10-25 09:22] crandmm opened #273 "[BUG] newtab"
### What happened?

yarn create plasmo "my-extension"  --with-src
yarn dev

不修改任何代码  编译完成后  加载到浏览器扩展上 我的浏览器每次点击创建newtab都会打开插件里指定的newtab页面 好像newtab被拦截了  只能打开插件配置的newtab.tsx页面 但是我只想从插件页面里打开newtab页面  当我正常浏览其他网站的时候 newtab还是打开我浏览器配置的页面例如空白页 请问我应该怎么配置

Every time my browser hits Create newtab it opens the newtab page specified in the plugin and it looks like newtab has been blocked and can only open the